<style>
    .link-edit {
        text-decoration: none;
        padding: 2.5px 10px;
    }
</style>
<div id="Eligiblity" ng-controller="EligiblityController" ng-show="hasShow == 'true'" class="clear textBoxAlign">

    <section>
        <div id="error_validation" class="errorinfo address-box posFixed" style="color: red;"></div>
    </section>

    <div>
        <div class="sectionDiv">
            <span>School Eligibility</span>
        </div>
        <fieldset class="flsParentNewApplReqForm flsParentNewApplReqForm1">
            <input type="checkbox" ng-model="Provider.IsChecked1" />
            <span data-ng-bind="SchoolEligibility1"></span>

            <div class="divLicenseInfon divaddnew AfterApproved" id="divAddbtnSchoolInfoPrevious">
                <span class="AddButton_grid">
                    <input type="button" value="Add" data-ng-click="ShowPopup(1)" class="buttonGreen medium" />
                </span>
            </div>

            <div id="dvagency">
                <div class="AddGrid" id="dvagency">
                    <p class="addNewDiv">
                        <span>Add Approval Agency</span>
                    </p>
                    <table class="tblApplReqForm5 wthtop20 " style="width: 100%;">
                        <tr>
                            <td class="txtalgnrgt tdwidth1">
                                <label class="input-label required">
                                    Approval/Accrediting Agency :
                                </label>
                            </td>
                            <td>
                                <select id="ContentPlaceHolder1_ucCertificationApplication1_ddlAddApprovalAgency" ng-model="selectedItem" ng-change="update()" name="ApprovalAccreditingAgencyName" class="form-control width145p" data-ng-options="item as item.LookupDesc for item in Lookup">
                                    <option value="">- Select -</option>
                                </select>
                            </td>
                            <td class="txtalgnrgt tdwidth2">
                                <label class="input-label required">
                                    Agency School Code # :
                                </label>
                            </td>
                            <td>
                                <input type="text" data-ng-model="ApprovalAgency.AgencySchoolCode" id="TextBox1" width="167px" />
                            </td>
                        </tr>
                        <tr>
                            <td class="txtalgnrgt">
                                <label class="input-label required">
                                    Expiration Date :
                                </label>
                            </td>
                            <td>
                                <input type="text" id="AddExpirationDate" data-ng-model="ApprovalAgency.ExpirationDate" class="inputTextbox calenderSiteVisit" placeholder="MM/DD/YYYY" />
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="6"></td>
                        </tr>
                    </table>
                    <p class="addNewDiv">
                        <span>Approval Agency Supporting Documentation</span>
                    </p>
                    <div id="fuEligibility1_upDoc" class="documentContainer" data-isrequired="true" data-docid="1" data-doc-code="D1001" data-simple="false">
                    </div>
                    @*<table class="tblApplReqForm5 wthtop20" style="width: 100%;">
                            <tr>
                                <td class="txtalgnrgt tdwidth1">
                                    <label class="input-label required">
                                        Document Name :
                                    </span>
                                </td>
                                <td>
                                    <input type="text" id="TextBox13" />
                                </td>
                                <td class="txtalgnrgt tdwidth2">
                                    <label class="input-label required">
                                        Document Type :
                                    </span>
                                </td>
                                <td>
                                    <select data-ng-model="ProviderInformationDetails.DocumentId" name="SchoolAddressState" class="form-control">
                                        <option selected="selected" value="-1">Select</option>
                                        <option value="1">Approval Letter</option>
                                        <option value="2">Certificate</option>
                                        <option value="3">Site Visit Report</option>
                                        <option value="4">Other (specify)</option>
                                    </select>
                                </td>
                            </tr>

                            <tr id="tr1" ng-show="false">
                                <td></td>
                                <td></td>
                                <td class="txtalgnrgt" style="width: 135px;">
                                    <span class="input-label">
                                        Other Document Type :
                                    </span>
                                </td>
                                <td>
                                    <input type="text" id="TextBox14" Width="167px" />
                                </td>
                            </tr>
                            <tr>
                                <td class="txtalgnrgt">
                                    <label class="input-label required">
                                        Document :
                                    </span>
                                </td>
                                <td>
                                    <input type="file" />
                                </td>
                                <td colspan="3">
                                    <input type="button" id="Button4" Style="margin-left: 10px;" class="buttonGreen small" value="Upload" />
                                </td>
                                <td></td>
                            </tr>
                        </table>*@

                    <div class="toolBar AfterApproved" style="padding: 4px; margin: 4px;">
                        <span class="fltrt">
                            <input type="button" id="Button6" class="buttonGreen medium" ng-click="Save_ApprovalAgency()"
                                   value="Save" />
                            <input type="button" class="secondary medium bottom buttonalignment" value="Cancel" ng-click="clearApprovalAgency()" />
                        </span>
                    </div>
                    <div class="clear">
                    </div>
                </div>
                <div class="AddGrid" id="dvagency">
                    <p class="addNewDiv">
                        <span>Add Additional Approval Agency</span>
                    </p>
                    <table class="tblApplReqForm5 wthtop20" style="width: 100%;">
                        <tr>
                            <td class="txtalgnrgt tdwidth1">
                                <label class="input-label required">
                                    Approval/Accrediting Agency :
                                </label>
                            </td>
                            <td>
                                <input type="text" id="txtApprovalAgency" data-ng-model="ApprovalAgency1.ApprovalAccreditingAgencyName" id="TextBox1" width="167px" />
                            </td>
                            <td class="txtalgnrgt tdwidth2">
                                <label class="input-label required">
                                    Agency School Code # :
                                </label>
                            </td>
                            <td>
                                <input type="text" data-ng-model="ApprovalAgency1.AgencySchoolCode" id="TextBox1" width="167px" />
                            </td>
                        </tr>
                        <tr>
                            <td class="txtalgnrgt">
                                <label class="input-label required">
                                    Expiration Date :
                                </label>
                            </td>
                            <td>
                                <input type="text" id="AddExpirationDate1" data-ng-model="ApprovalAgency1.ExpirationDate" class="inputTextbox calenderSiteVisit" placeholder="MM/DD/YYYY" />
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="6"></td>
                        </tr>
                    </table>

                    <p class="addNewDiv">
                        <span>Approval Agency Supporting Documentation</span>
                    </p>
                    <div id="fuEligibility2_upDoc" class="documentContainer" data-isrequired="true" data-docid="2" data-doc-code="D1002" data-simple="false">
                    </div>
                    @*<table class="tblApplReqForm5 wthtop20" style="width: 100%;">
                            <tr>
                                <td class="txtalgnrgt tdwidth1">
                                    <label class="input-label required">
                                        Document Name :
                                    </span>
                                </td>
                                <td>
                                    <input type="text" id="TextBox13" />
                                </td>
                                <td class="txtalgnrgt tdwidth2">
                                    <label class="input-label required">
                                        Document Type :
                                    </span>
                                </td>
                                <td>
                                    <select data-ng-model="ProviderInformationDetails.DocumentId" name="SchoolAddressState" class="form-control">
                                        <option selected="selected" value="-1">Select</option>
                                        <option value="1">Approval Letter</option>
                                        <option value="2">Certificate</option>
                                        <option value="3">Site Visit Report</option>
                                        <option value="4">Other (specify)</option>
                                    </select>
                                </td>
                            </tr>

                            <tr id="tr1" ng-show="false">
                                <td></td>
                                <td></td>
                                <td class="txtalgnrgt" style="width: 135px;">
                                    <span class="input-label">
                                        Other Document Type :
                                    </span>
                                </td>
                                <td>
                                    <input type="text" id="TextBox14" Width="167px" />
                                </td>
                            </tr>
                            <tr>
                                <td class="txtalgnrgt">
                                    <label class="input-label required">
                                        Document :
                                    </span>
                                </td>
                                <td>
                                    <input type="file" />
                                </td>
                                <td colspan="3">
                                    <input type="button" id="Button4" Style="margin-left: 10px;" class="buttonGreen small" value="Upload" />
                                </td>
                                <td></td>
                            </tr>
                        </table>*@
                    <div class="toolBar AfterApproved" style="padding: 4px; margin: 4px;">
                        <span class="fltrt">
                            <input type="button" id="Button6" class="buttonGreen medium" ng-click="Save_ApprovalAgency1()"
                                   value="Save" />
                            <input type="button" class="secondary medium bottom buttonalignment" value="Cancel" ng-click="clearApprovalAgency1()" />
                        </span>
                    </div>
                </div>
            </div>

            <div data-ag-grid="ApprovalGrid" class="ag-blue grdi_design_style"></div>

            <div class="chkdesign">
                <input type="checkbox" ng-model="Provider.IsChecked2" />
                <span data-ng-bind="SchoolEligibility2"></span>
            </div>

            <div class="chkdesign">
                <input type="checkbox" ng-model="Provider.IsChecked3" />
                <span data-ng-bind="SchoolEligibility3"></span>
            </div>

            <div class="chkdesign">
                <input type="checkbox" ng-model="Provider.IsChecked4" />
                <span data-ng-bind="SchoolEligibility4"></span>
            </div>

            <span class="buttomboldtexteligble" data-ng-bind="SchoolEligibility5"></span>

            <div class="width100p">
                <div class="divLicenseInfon divaddnew AfterApproved" id="div2">
                    <span class="AddButton_grid">
                        <input type="button" value="Add" data-ng-click="ShowPopup(2)" class="buttonGreen medium" />
                    </span>
                </div>
                <div class="AddGrid" id="divmassageprogram">
                    <p class="addNewDiv">
                        <span>Add Massage Program Name</span>
                    </p>
                    <table class="tblApplReqForm5 wthtop20 width100p">
                        <tbody>
                            <tr>
                                <td class="txtalgnrgt tdwidth1">
                                    <label class="input-label required">
                                        Massage Program Name :
                                    </label>
                                </td>
                                <td>
                                    <input id="AddMassageProgName" name="MassageProgName" data-ng-model="Massage.ProgramName" type="text" maxlength="15" class="inputTextbox" autocomplete="off">
                                </td>
                            </tr>
                            <tr>
                                <td class="txtalgnrgt tdwidth2 widht285p">
                                    <label class="input-label required">
                                        Total Number of Program Hours :
                                    </label>
                                </td>
                                <td>
                                    <input id="AddProgrameHours" name="ProgrameHours" data-ng-model="Massage.TotalNoofPgmHours" type="text" maxlength="8" class="inputTextbox" autocomplete="off">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="toolBar AfterApproved toolbar_instruct">
                        <span class="fltrt">
                            <input type="button" value="Save" data-ng-click="Save_MassgeProgram()" class="buttonGreen medium" />
                            <input type="button" value="Cancel" data-ng-click="clearMassageProgram()" class="secondary medium bottom buttonalignment" />
                        </span>
                    </div>
                </div>

            </div>

            <div data-ag-grid="MassageProgramGrid" class="ag-blue grdi_design_style"></div>
        </fieldset>




    </div>
    <div class="toolBar AfterApproved toolbar_instruct">
        <span class="fltrt">
            <input type="button" value="Save" data-ng-click="Save_EligibilityTabInfo()" class="buttonGreen medium" />
            <input type="button" value="Cancel" ng-click="GetEligibilityInfoByProviderId()" class="secondary medium bottom buttonalignment" />
        </span>
    </div>
</div>

<script type="text/javascript">
    $('.calenderSiteVisit').datepicker({
        inline: true,
        changeMonth: true,
        changeYear: true,
        yearRange: "1900:2030"

    });

</script>
