@{
    ViewBag.Title = "SchoolInfo";
}
<div ng-controller="SchoolController" ng-show="hasShow == 'true'">

    <section>
        <div id="error_validation" class="errorinfo address-box posFixed" style="display: none; color: red;"></div>
    </section>

    <div id="divPanelList" class="panle_list_SInfo">
        <div class="sectionDiv">
            <span>School Information</span>
        </div>
        <fieldset class="flsParentNewApplReqForm flsParentNewApplReqForm1">
            <p>
                <b>2. School Details :</b>
            </p>
            <div id="MsgDivUploadAll">
            </div>
            <div class="width100p">
                <div>
                    <table class="tblApplReqForm5">
                        <tr>
                            <td class="txtalgnrgt width200">
                                <label class="input-label required">
                                    School Name :
                                </label>
                            </td>
                            <td colspan="6">
                                <input id="first" type="text" class="tooltip OnlyAlphabet inputTextbox capitalize-text SclNameTxtboxmain" data-ng-model="ProviderName" title="Only A-Z characters are allowed." /> @*readonly="readonly"*@
                            </td>
                        </tr>
                        <tr>
                            <td class="txtalgnrgt width115P">
                                <label class="input-label required">
                                    School Telephone :
                                </label>
                            </td>
                            <td class="width180P">
                                <input id="tel" type="text" class="phone_us NewAppPersonalTxtbx" placeholder="(xxx) xxx-xxxx" data-ng-model="ProviderInformationDetails.SchoolTelephone"
                                       autocomplete="off"
                                       maxlength="14" />
                            </td>
                            <td colspan="6">
                                <input type="checkbox" id="CheckBox57" class="margin_10" data-ng-model="ProviderInformationDetails.IsSchoolTelephoneMobile" />
                                <label>Mobile</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="txtalgnrgt width130P">
                                <label class="input-label required">School Website :</label>
                            </td>
                            <td colspan="6">
                                <input type="text" id="website" class="inputTextbox NewAppPersonalTxtbx" data-ng-model="ProviderInformationDetails.SchoolWebsite"
                                       autocomplete="off" placeholder="www.websitename.com" maxlength="150" />
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </fieldset>
        <fieldset class="flsParentNewApplReqForm flsParentNewApplReqForm1 space_20">
            <p>
                <b>3. Previous School's Names (if any) :</b>
            </p>
            <div class="divLicenseInfon divaddnew AfterApproved" id="divAddbtnSchoolInfoPrevious">
                <span class="AddButton_grid">
                    <input type="button" value="Add" data-ng-click="ShowPopup(4)" class="buttonGreen medium" />
                </span>
            </div>
            <div class="clear">
            </div>
            <div class="AddGrid" id="dvPRevInfo">
                <p class="addNewDiv">
                    <span>Previous School Information</span>
                </p>
                <div class="clear">
                </div>
                <table class="tblApplReqForm5 wthtop20 width99p">
                    <tr>
                        <td colspan="2" class="txtalgnrgt street_inside_add">
                            <label class="input-label required">
                                Previous School Name :
                            </label>
                        </td>
                        <td colspan="4">
                            <input id="prevname" type="text" maxlength="150" class="tooltip OnlyAlphabet inputTextbox Prevsclgrid" ng-model="PrevSchoolname" title="Only A-Z characters are allowed." autocomplete="off">
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" class="txtalgnrgt">
                            <label class="input-label required">
                                Date of Name Change :
                            </label>
                        </td>
                        <td class="city_inside_add">
                            <input id="ContentPlaceHolder1_ucCertificationApplication1_txtDateOfAddChange" type="text" id="TextBox15" data-ng-model="DateofNameChange" class="inputTextbox DateofNameChange" placeholder="MM/DD/YYYY" />
                        </td>
                        <td colspan="4"></td>
                    </tr>
                </table>

                <div class="toolBar AfterApproved toolbar_instruct">
                    <span class="fltrt">
                        <input type="submit" value="Save" ng-click="AddPreviousSchoolInSchoolInformation()" class="buttonGreen small">
                        <input type="button" value="Cancel" data-ng-click="clearPRevInfo()" class="secondary small bottom buttonalignment" />
                    </span>
                </div>
            </div>
            <div class="clear">
            </div>
            <div data-ag-grid="PrevAddrGrid" class="ag-blue" style="width:444px;margin-left:100px;"></div>
        </fieldset>


        <fieldset class="flsApplReqForm flsApplReqForm5 space_20">
            @*--start--*@
            <p>
                <b>4. School Address :</b>
            </p>
            <table class="tblApplReqForm5 width100p">
                <tr>
                    <td class="txtalgnrgt street_desgn">
                        <label class="input-label required">Street : </label>
                    </td>
                    <td colspan="6">
                        <input type="text" id="SchoolStreet" class="calWidth us_street width544p" data-ng-model="ProviderInformationDetails.SchoolAddressStreet1"
                               maxlength="500" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="6">
                        <input type="text" id="txtschool_Add" class="calWidth us_street width544p" data-ng-model="ProviderInformationDetails.SchoolAddressStreet2"
                               maxlength="500" />
                    </td>
                </tr>
                <tr>
                    <td class="txtalgnrgt">
                        <label class="input-label required">
                            City :
                        </label>
                    </td>
                    <td class="city_width">
                        <input type="text" id="city" class="tooltip OnlyAlphabet calWidth" data-ng-model="ProviderInformationDetails.SchoolAddressCity"
                               maxlength="500" title="Only A-Z characters are allowed." />
                    </td>
                    <td class="txtalgnrgt">
                        <label class="input-label required">
                            State :
                        </label>
                    </td>
                    <td class="city_width">
                        <select id="State" data-ng-model="ProviderInformationDetails.SchoolAddressState" name="SchoolAddressState" class="form-control" data-ng-options="item.StateCode as item.Name for item in StateList">
                            <option value="0">- Select State -</option>
                        </select>
                    </td>
                    <td class="txtalgnrgt">
                        <label class="input-label required">Zip :</label>
                    </td>
                    <td>
                        <input type="text" id="zip" placeholder="xxxxx-xxxx or xxxxx" class="tooltip zip_us calWidth" maxlength="500" title="Enter valid Zip eg: XXXXX-XXXX or XXXXX" data-ng-model="ProviderInformationDetails.SchoolAddressZip" />
                    </td>
                </tr>
            </table>
            <div class="clear">
            </div>
            <div id="divVerifySchoolAddressBtn" class="padding_t">
                <span class="fltrt">
                    <input type="button" id="btnVerifySchoolAddress" class="btn-success btn-xs" ng-click="verifyAddress(3)"
                           value="Verify Address" />
                </span>
            </div>

            <div id="divVerifySchoolAddressPnl" ng-show="false" class="address-box">
                <div>
                    <span class="fltrt">
                        <input type="image" id="imgbtnCloseVerifyAddress" src="~/Content/Theme1/images/close-icon.png" />
                    </span>
                </div>
                <div>
                    <table class="width100p">
                        <tr>
                            <td class="width50p">
                                <p class="verify_add_user">User Address</p>
                            </td>
                            <td class="width50p">
                                <p class="verify_add_user_txt">
                                    Verified Address
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <hr />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="width100p">
                                    <tr>
                                        <td align="right" class="width110p">
                                            <span class="input-label">
                                                <b>Street :</b>
                                            </span>
                                        </td>
                                        <td style="width: 220px;">
                                            <asp:label id="lblUSchoolStreet1"></asp:label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <asp:label id="lblUSchoolStreet2"></asp:label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                            <span class="input-label">
                                                <b>City :</b>Previous School Name
                                            </span>
                                        </td>
                                        <td>
                                            <asp:label id="lblUSchoolCity"></asp:label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                            <span class="input-label">
                                                <b>State :</b>
                                            </span>
                                        </td>
                                        <td>
                                            <asp:label id="lblUSchoolState"></asp:label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                            <span class="input-label">
                                                <b>Zip :</b>
                                            </span>
                                        </td>
                                        <td>
                                            <asp:label id="lblUSchoolZip"></asp:label>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="vertical-align: baseline;">
                                <div id="divNotVerifiedAdd">
                                    <table style="width: 100%">
                                        <tr>
                                            <td align="right" style="width: 107px;">
                                                <span class="input-label">
                                                    <b>Street :</b>
                                                </span>
                                            </td>
                                            <td style="width: 220px;">
                                                <asp:label id="lblVSchoolStreet1"></asp:label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <asp:label id="lblVSchoolStreet2"></asp:label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <span class="input-label">
                                                    <b>City :</b>
                                                </span>
                                            </td>
                                            <td>
                                                <asp:label id="lblVSchoolCity"></asp:label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <span class="input-label">
                                                    <b>State :</b>
                                                </span>
                                            </td>
                                            <td>
                                                <asp:label id="lblVSchoolState"></asp:label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <span class="input-label">
                                                    <b>Zip :</b>
                                                </span>
                                            </td>
                                            <td>
                                                <asp:label id="lblVSchoolZip"></asp:label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <p style="color: Red; text-align: center;">
                                    <asp:label id="lblUnverifiedAdd" style="display: block; position: relative; top: 21px;"></asp:label>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="padding-top: 13px !important;">
                                <input type="button" id="btnVerifySchoolAddressYes" class="btn-warning btn-xs"
                                       value="Use User Address" />
                            </td>
                            <td align="center">
                                <input type="button" id="btnVerifySchoolAddressNo" class="btn-success btn-xs"
                                       value="Use Verified Address" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            @*--end--*@
            <div class="clear">
            </div>
            @*--start--*@
            <p style="margin-top: 20px;">
                <b>5. Previous Address (if any) :</b>
            </p>
            <div class="divLicenseInfon divaddnew AfterApproved" id="divAddbtnSchoolInfoPrevious">
                <span class="AddButton_grid">
                    <input type="button" value="Add" data-ng-click="ShowPopup(1)" class="buttonGreen medium" />
                </span>
            </div>

            <div class="AddGrid" id="divAddSchoolInfoPrevious">
                <p class="addNewDiv">
                    <span>School Previous Address</span>
                </p>
                <table class="tblApplReqForm5 wthtop20 width99p">
                    <tr>
                        <td class="txtalgnrgt street_inside_add">
                            <span class="input-label">
                                Street :
                            </span>
                        </td>
                        <td colspan="5">
                            <input type="text" id="txtPreviousAdd" class="calWidth us_street width548p" data-ng-model="PrevAdd.StreetLine1"
                                   maxlength="500" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="6">
                            <input type="text" id="TextBox16" class="calWidth us_street width548p" data-ng-model="PrevAdd.StreetLine2"
                                   maxlength="500" />
                        </td>
                    </tr>
                    <tr>
                        <td class="txtalgnrgt">
                            <span class="input-label">
                                City :
                            </span>
                        </td>
                        <td class="city_inside_add">
                            <input type="text" id="txtPreviousCity" class="tooltip OnlyAlphabet calWidth" data-ng-model="PrevAdd.City"
                                   maxlength="500" title="Only A-Z characters are allowed." />
                        </td>
                        <td class="txtalgnrgt">
                            <span class="input-label">
                                State :
                            </span>
                        </td>
                        <td class="city_inside_add">
                            <select data-ng-model="PrevAdd.StateCode" name="StateCode" class="form-control" data-ng-options="item.StateCode as item.Name for item in StateList">
                                <option value="">- Select state -</option>
                            </select>
                        </td>

                        <td class="txtalgnrgt">
                            <span class="input-label">
                                Zip :
                            </span>
                        </td>
                        <td>
                            <input type="text" id="txtPreviousAddzip" placeholder="xxxxx-xxxx or xxxxx" data-ng-model="PrevAdd.Zip"
                                   class="tooltip zip_us calWidth" maxlength="500" title="Enter valid Zip eg: XXXXX-XXXX or XXXXX" />
                        </td>
                    </tr>
                </table>
                <div id="divVerifyPreviousAddressBtn" class="verify_inside_add">
                    <span class="fltrt">
                        <input type="button" id="btnVerifyPreviousAddress" class="btn-success btn-xs" ng-click="verifyAddress(1)"
                               value="Verify Address" />
                    </span>
                </div>
                <div class="toolBar AfterApproved toolbar_instruct">
                    <span class="fltrt">
                        <input type="button" value="Add" data-ng-click="AddPreviousAddress()" class="buttonGreen small" />
                        <input type="button" value="Cancel" data-ng-click="clearPreviousAddress()" class="secondary small bottom buttonalignment" />
                    </span>
                </div>
            </div>
            <div>
                <div data-ag-grid="PrevAddrIfanyGrid" class="ag-blue grdi_design_style"></div>
            </div>
            @*--end--*@
            <div class="clear">
            </div>
            @*--start--*@
            <p class="space_20">
                <b>6. Mailing Address (if different from school address) :</b>
            </p>
            <table class="tblApplReqForm5 width100p">

                <tr>
                    <td class="txtalgnrgt street_desgn">
                        <label class="input-label required">
                            Street :
                        </label>
                    </td>
                    <td colspan="5">
                        <input type="text" id="txtMailingAdd" class="calWidth us_street width544p" data-ng-model="ProviderInformationDetails.MailingAddressStreet1"
                               maxlength="500" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="6">
                        <input type="text" id="TextBox140" class="calWidth us_street width544p" data-ng-model="ProviderInformationDetails.MailingAddressStreet2"
                               maxlength="500" />
                    </td>
                </tr>
                <tr>
                    <td class="txtalgnrgt">
                        <label class="input-label required">
                            City :
                        </label>
                    </td>
                    <td class="city_width">
                        <input type="text" id="txtMailingCity" class="tooltip OnlyAlphabet calWidth" data-ng-model="ProviderInformationDetails.MailingAddressCity"
                               maxlength="500" title="Only A-Z characters are allowed." />
                    </td>
                    <td class="txtalgnrgt">
                        <label class="input-label required">
                            State :
                        </label>
                    </td>
                    <td class="city_width">
                        <select data-ng-model="ProviderInformationDetails.MailingAddressState" name="MailingAddressState" class="form-control" data-ng-options="item.StateCode as item.Name for item in StateList">
                            <option value="">- Select state -</option>
                        </select>
                    </td>
                    <td class="txtalgnrgt">
                        <label class="input-label required">
                            Zip :
                        </label>
                    </td>
                    <td>
                        <input type="text" id="txtMailngZip" placeholder="xxxxx-xxxx or xxxxx" data-ng-model="ProviderInformationDetails.MailingAddressZip"
                               class="tooltip zip_us calWidth" maxlength="500" title="Enter valid Zip eg: XXXXX-XXXX or XXXXX" />
                    </td>
                </tr>
            </table>
            <div class="clear">
            </div>
            <div id="divVerifySchoolMailingAddressBtn" class="padding_t">
                <span class="fltrt">
                    <input type="button" id="btnVerifySchoolMailingAddress" class="btn-success btn-xs" ng-click="verifyAddress(4)"
                           value="Verify Address" />
                </span>
            </div>
            <div id="divVerifySchoolMailingAddressPnl" ng-show="false" class="address-box">
                <div>
                    <span class="fltrt">
                        <input type="image" id="btnimgbtn" src="~/Content/Theme1/images/close-icon.png" />
                    </span>
                </div>
                <div>
                    <table class="width100p">
                        <tr>
                            <td class="width50p">
                                <p style="font-size: 14px; font-weight: bold; padding-left: 58px;">
                                    User Address
                                </p>
                            </td>
                            <td class="width50p">
                                <p style="font-size: 14px; font-weight: bold; padding-left: 55px;">
                                    Verified Address
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <hr />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="width: 100%">
                                    <tr>
                                        <td align="right" style="width: 110px;">
                                            <span class="input-label">
                                                <b>Street :</b>
                                            </span>
                                        </td>
                                        <td style="width: 220px;"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                            <span class="input-label">
                                                <b>City :</b>
                                            </span>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                            <span class="input-label">
                                                <b>State :</b>
                                            </span>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                            <span class="input-label">
                                                <b>Zip :</b>
                                            </span>
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                            </td>
                            <td style="vertical-align: baseline;">
                                <div id="div3">
                                    <table style="width: 100%">
                                        <tr>
                                            <td align="right" style="width: 107px;">
                                                <span class="input-label">
                                                    <b>Street :</b>
                                                </span>
                                            </td>
                                            <td style="width: 220px;">
                                                <asp:label id="lblVSchoolMailingStreet1"></asp:label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <asp:label id="lblVSchoolMailingStreet2"></asp:label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <span class="input-label">
                                                    <b>City :</b>
                                                </span>
                                            </td>
                                            <td>
                                                <asp:label id="lblVSchoolMailingCity"></asp:label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <span class="input-label">
                                                    <b>State :</b>
                                                </span>
                                            </td>
                                            <td>
                                                @*--<asp:Label ID="lblVSchoolMailingState"></asp:Label>--*@
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <span class="input-label">
                                                    <b>Zip :</b>
                                                </span>
                                            </td>
                                            <td>
                                                @*--<asp:Label ID="lblVSchoolMailingZip"></asp:Label>--*@
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <p style="color: Red; text-align: center;">
                                    @*--<asp:Label ID="Label1" Style="display: block; position: relative; top: 21px;"></asp:Label>--*@
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="padding-top: 13px !important;">
                                <input type="button" id="btnVerifySchoolMailingAddressYes" class="btn-warning btn-xs"
                                       value="Use User Address" />
                            </td>
                            <td align="center">
                                <input type="button" id="btnVerifySchoolMailingAddressNo" class="btn-success btn-xs"
                                       value="Use Verified Address" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            @*--end--*@
            <div class="clear"></div>
            @*--start--*@
            <p class="space_20">
                <b>7. Director/Administrator Name & Job Title :</b>
            </p>
            <table class="tblApplReqForm5 width100p">
                <tr>
                    <td class="txtalgnrgt" style="width: 124px;">
                        <label class="input-label required">
                            Name :
                        </label>
                    </td>
                    <td style="width: 151px;">
                        <input type="text" id="DirFirstName" class="tooltip OnlyAlphabet NewAppPersonalTxtbx calWidth" data-ng-model="ProviderInformationDetails.DirectorFirstName"
                               maxlength="500" title="Only A-Z characters are allowed." />
                    </td>

                    <td class="txtalgnrgt" style="width: 110px;">
                        <label class="input-label required">
                            Administrator Email :
                        </label>
                    </td>
                    <td style="width: 150px;">
                        <input type="text" id="DirectorEmail" class="inputTextbox  NewAppPersonalTxtbx" placeholder="joe@email.com" data-ng-model="ProviderInformationDetails.DirectorAdministratorEmail"
                               width="170px" maxlength="500" title="Only A-Z characters are allowed." />
                    </td>
                </tr>
                <tr>
                    <td class="txtalgnrgt" style="width: 124px;">
                        <label class="input-label required">
                            Job Title  :
                        </label>
                    </td>
                    <td style="width: 151px;">
                        <input type="text" id="SclInfoJobTitle" class="tooltip NewAppPersonalTxtbx OnlyAlphabet calWidth" data-ng-model="ProviderInformationDetails.DirectorJobTitle"
                               width="170px" maxlength="500" title="Only A-Z characters are allowed." />
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="txtalgnrgt" style="width: 124px;">
                        <label class="input-label required">
                            Primary Number :
                        </label>
                    </td>
                    <td style="width: 151px;">
                        <input type="text" id="SclInfoPriNumber" class="phone_us NewAppPersonalTxtbx" autocomplete="off" placeholder="(xxx) xxx-xxxx" data-ng-model="ProviderInformationDetails.DirectorPrimaryNumber"
                               width="170px" maxlength="14" />
                    </td>
                    <td style="text-align: left;">
                        <input type="checkbox" id="CheckBox15" data-ng-model="ProviderInformationDetails.DirectorPrimaryNumberIsMobile" />
                        Mobile
                    </td>
                </tr>
                <tr>
                    <td class="txtalgnrgt" style="width: 124px;">
                        <span class="input-label">
                            Secondary Number :
                        </span>
                    </td>
                    <td style="width: 151px;">
                        <input type="text" id="TextBox142" class="phone_us NewAppPersonalTxtbx" autocomplete="off" placeholder="(xxx) xxx-xxxx" data-ng-model="ProviderInformationDetails.DirectorSecondaryNumber"
                               width="170px" maxlength="14" />
                    </td>
                    <td style="text-align: left;">
                        <input type="checkbox" id="CheckBox16" data-ng-model="ProviderInformationDetails.DirectorSecondaryNumberIsMobile" />
                        Mobile
                    </td>
                </tr>
            </table>
            @*--end--*@
            <div class="clear">
            </div>
            @*--start--*@
            <p class="space_20">
                <b>8. Contact Name for this Application & Job Title (if different than Director/Administrator Name & Job Title) :</b>
            </p>
            <table class="tblApplReqForm5 wdtmarauto" style="width: 100%; margin-bottom: 5px;">
                <tr>
                    <td class="txtalgnrgt" style="width: 124px;">
                        <span class="input-label">
                            Name :
                        </span>
                    </td>
                    <td style="width: 151px;">
                        <input type="text" id="txtApplicationName" class="tooltip NewAppPersonalTxtbx OnlyAlphabet calWidth" data-ng-model="ProviderInformationDetails.ContactNameFirstName"
                               width="170px" maxlength="500" title="Only A-Z characters are allowed." />
                    </td>

                    <td class="txtalgnrgt" style="width: 110px;">
                        <span class="input-label">
                            Contact Email :
                        </span>
                    </td>
                    <td style="width: 150px;">
                        <input type="text" id="txtApplicationEmail" class="inputTextbox NewAppPersonalTxtbx" placeholder="joe@email.com" data-ng-model="ProviderInformationDetails.ContactNameAdministratorEmail"
                               width="170px" maxlength="500" title="Only A-Z characters are allowed." />
                    </td>
                </tr>
                <tr>
                    <td class="txtalgnrgt" style="width: 124px;">
                        <span class="input-label">
                            Job Title  :
                        </span>
                    </td>
                    <td style="width: 151px;">
                        <input type="text" id="txtSchInfoSecJobtitle" class="tooltip NewAppPersonalTxtbx OnlyAlphabet calWidth" data-ng-model="ProviderInformationDetails.ContactNameJobTitle"
                               width="170px" maxlength="500" title="Only A-Z characters are allowed." />
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="txtalgnrgt" style="width: 124px;">
                        <span class="input-label">
                            Primary Number :
                        </span>
                    </td>
                    <td style="width: 151px;">
                        <input type="text" id="txtApplicationNum" class="phone_us NewAppPersonalTxtbx" autocomplete="off" placeholder="(xxx) xxx-xxxx" data-ng-model="ProviderInformationDetails.ContactNamePrimaryNumber"
                               width="170px" maxlength="14" />
                    </td>
                    <td style="text-align: left;">
                        <input type="checkbox" id="CheckBox17" data-ng-model="ProviderInformationDetails.ContactNamePrimaryNumberIsMobile" />
                        Mobile
                    </td>
                </tr>
                <tr>
                    <td class="txtalgnrgt" style="width: 124px;">
                        <span class="input-label">
                            Secondary Number :
                        </span>
                    </td>
                    <td style="width: 151px;">
                        <input type="text" id="TextBox143" class="phone_us NewAppPersonalTxtbx" autocomplete="off" placeholder="(xxx) xxx-xxxx" data-ng-model="ProviderInformationDetails.ContactNameSecondaryNumber"
                               width="170px" maxlength="14" />
                    </td>
                    <td style="text-align: left;">
                        <input type="checkbox" id="CheckBox18" data-ng-model="ProviderInformationDetails.ContactNameSecondaryNumberIsMobile" />Mobile
                    </td>
                </tr>
            </table>
            @*--end--*@
            <div class="clear">
            </div>
            @*--satellite location--*@
            <p class="space_20">
                <b>9. Satellite Location Address (if any) :</b>
            </p>

            <div class="divLicenseInfon divaddnew AfterApproved" id="divAddbtnSatelliteLocation">
                <span class="AddButton_grid">
                    <input type="button" value="Add" data-ng-click="ShowPopup(2)" class="buttonGreen medium" />
                    @*-- <input type="button" ID="btnSatelliteLocationAddNew" class="buttonGreen small"
                        value="Add" CausesValidation="true" />--*@
                </span>

            </div>
            @*<asp:Literal ID="ltrSatelliteLocation"></asp:Literal>*@
            <div class="AddGrid" id="divAddSatelliteLocation">
                <p class="addNewDiv">
                    <span>Satellite Location Address </span>
                </p>
                <table class="tblApplReqForm5 wthtop20 width99p">
                    <tr>
                        <td class="txtalgnrgt street_inside_add">
                            <span class="input-label">
                                Street :
                            </span>
                        </td>
                        <td colspan="5">
                            <input type="text" id="txtSatelliteLoc" class="calWidth us_street width548p" data-ng-model="SateliteAdd.StreetLine1"
                                   maxlength="500" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="6">
                            <input type="text" id="TextBox144" class="calWidth us_street width548p" data-ng-model="SateliteAdd.StreetLine2"
                                   maxlength="500" />
                        </td>
                    </tr>
                    <tr>
                        <td class="txtalgnrgt">
                            <span class="input-label">
                                City :
                            </span>
                        </td>
                        <td class="city_inside_add">
                            <input type="text" id="txtSatelliteCity" class="tooltip OnlyAlphabet calWidth" data-ng-model="SateliteAdd.City"
                                   maxlength="500" title="Only A-Z characters are allowed." />
                        </td>
                        <td class="txtalgnrgt">
                            <span class="input-label">
                                State :
                            </span>
                        </td>
                        <td class="city_inside_add">
                            <select data-ng-model="SateliteAdd.StateCode" name="StateCode" class="form-control" data-ng-options="item.StateCode as item.Name for item in StateList">
                                <option value="0">- Select state -</option>
                            </select>
                        </td>
                        <td class="txtalgnrgt">
                            <span class="input-label">
                                Zip :
                            </span>
                        </td>
                        <td>
                            <input type="text" id="txtSatelliteZip" placeholder="xxxxx-xxxx or xxxxx" data-ng-model="SateliteAdd.Zip"
                                   class="tooltip zip_us calWidth" width="125px" maxlength="500" title="Enter valid Zip eg: XXXXX-XXXX or XXXXX" />
                        </td>
                    </tr>
                </table>

                <div id="divVerifySatelliteLocationAddressBtn" class="verify_inside_add">
                    <span class="fltrt">
                        <input type="button" id="btnVerifySatelliteLocationAddress" class="btn-success btn-xs" ng-click="verifyAddress(2)"
                               value="Verify Address" />
                    </span>
                </div>
                <div id="divVerifySatelliteLocationAddressPnl" ng-show="false" class="address-box">
                    <div>
                        <span class="fltrt">
                            <input type="image" id="btnimg" src="~/Content/Theme1/images/close-icon.png" />
                        </span>
                    </div>
                    <div>
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 50%;">
                                    <p style="font-size: 14px; font-weight: bold; padding-left: 58px;">
                                        User Address
                                    </p>
                                </td>
                                <td style="width: 50%;">
                                    <p style="font-size: 14px; font-weight: bold; padding-left: 55px;">
                                        Verified Address
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <hr />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table style="width: 100%">
                                        <tr>
                                            <td align="right" style="width: 110px;">
                                                <span class="input-label">
                                                    <b>Street :</b>
                                                </span>
                                            </td>
                                            <td style="width: 220px;">
                                                @*--<asp:Label ID="lblUSatelliteLocationStreet1"></asp:Label>--*@
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                @*--<asp:Label ID="lblUSatelliteLocationStreet2"></asp:Label>--*@
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <span class="input-label">
                                                    <b>City :</b>
                                                </span>
                                            </td>
                                            <td>
                                                @*--<asp:Label ID="lblUSatelliteLocationCity"></asp:Label>--*@
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <span class="input-label">
                                                    <b>State :</b>
                                                </span>
                                            </td>
                                            <td>
                                                @*--<asp:Label ID="lblUSatelliteLocationState"></asp:Label>--*@
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <span class="input-label">
                                                    <b>Zip :</b>
                                                </span>
                                            </td>
                                            <td>
                                                @*--<asp:Label ID="lblUSatelliteLocationZip"></asp:Label>--*@
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="vertical-align: baseline;">
                                    <div id="div25">
                                        <table style="width: 100%">
                                            <tr>
                                                <td align="right" style="width: 107px;">
                                                    <span class="input-label">
                                                        <b>Street :</b>
                                                    </span>
                                                </td>
                                                <td style="width: 220px;">
                                                    @*--                        <asp:Label ID="lblVSatelliteLocationStreet1"></asp:Label>--*@
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    @*--<asp:Label ID="lblVSatelliteLocationStreet2"></asp:Label>--*@
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="right">
                                                    <span class="input-label">
                                                        <b>City :</b>
                                                    </span>
                                                </td>
                                                <td>
                                                    @*--<asp:Label ID="lblVSatelliteLocationCity"></asp:Label>--*@
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="right">
                                                    <span class="input-label">
                                                        <b>State :</b>
                                                    </span>
                                                </td>
                                                <td>
                                                    <asp:label id="lblVSatelliteLocationState"></asp:label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="right">
                                                    <span class="input-label">
                                                        <b>Zip :</b>
                                                    </span>
                                                </td>
                                                <td>
                                                    <asp:label id="lblVSatelliteLocationZip"></asp:label>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <p style="color: Red; text-align: center;">
                                        <asp:label id="Label2" style="display: block; position: relative; top: 21px;"></asp:label>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding-top: 13px !important;">
                                    <input type="button" id="btnVerifySatelliteLocationAddressYes" class="btn-warning btn-xs"
                                           value="Use User Address" />
                                </td>
                                <td align="center">
                                    <input type="button" id="btnVerifySatelliteLocationAddressNo" class="btn-success btn-xs"
                                           value="Use Verified Address" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="toolBar AfterApproved" style="padding: 4px; margin: 4px;">
                    <span class="fltrt">
                        <input type="button" value="Save" data-ng-click="AddSateliteAddress()" class="buttonGreen medium" />
                        <input type="button" value="Cancel" data-ng-click="clearsateliteAddress()" class="secondary medium bottom buttonalignment medium" />
                    </span>
                </div>
            </div>
            <div>
                <div data-ag-grid="SateliteAddrIfanyGrid " class="ag-blue grdi_design_style"></div>
            </div>

            <div class="clear">
            </div>
            <div ng-show="!IsSchoolApplication">
                <table class="tblApplReqForm5">
                    <tr>
                        <td colspan="5">
                            <b>9. MBLEx Scroes (if any) :</b>
                        </td>
                    </tr>
                </table>
                <div class="divLicenseInfon divaddnew AfterApproved" id="div1">
                    <span style="float: right; margin-right: 32px; margin-top: 15px;">
                        <input type="button" value="Add" data-ng-click="ShowPopup(3)" class="buttonGreen small" />
                    </span>
                </div>
                <div id="divMblex" class="divLicenseInfo" style="margin-top: 30px;">
                    <p class="addNewDiv">
                        <span>MBLEx Passing Rates</span>
                    </p>
                    <table class="tblApplReqForm5 wthtop20" style="width: 99%;">
                        <tr>
                            <td class="txtalgnrgt">
                                <span class="input-label">
                                    Passing Rate :
                                </span>
                            </td>
                            <td>
                                <input type="text" id="TextBox5" data-ng-model="Mblex.PassingRates" />
                            </td>
                        </tr>
                        <tr>
                            <td class="txtalgnrgt">
                                <span class="input-label">
                                    Year :
                                </span>
                            </td>
                            <td>

                                <select data-ng-model="Mblex.PassingYear" style="width: 105px !important;" class="inputTextbox">
                                    <option value="">Select</option>
                                    <option value="2016">2016</option>
                                    <option value="2016">2015</option>
                                    <option value="2016">2014</option>
                                    <option value="2016">2013</option>
                                    <option value="2016">2012</option>
                                    <option value="2016">2011</option>
                                    <option value="2016">2010</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="txtalgnrgt">
                                <span class="input-label">
                                    Half :
                                </span>
                            </td>
                            <td>
                                <select data-ng-model="Mblex.PassingHalf" style="width: 105px !important;" class="inputTextbox">
                                    <option value="">Select</option>
                                    <option value="1st" selected="selected">1st</option>
                                    <option value="2nd">2nd</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div class="toolBar AfterApproved" style="padding: 4px; margin: 4px;">
                        <span class="fltrt">
                            <input type="button" value="Save" data-ng-click="Save_providermblex()" class="buttonGreen medium" />
                            <input type="button" value="Cancel" data-ng-click="clearMblex()" class="secondary medium bottom buttonalignment" />
                        </span>
                    </div>
                </div>
                <div data-ag-grid="MBLExGrid " class="ag-blue grdi_design_style"></div>
                <table class="tblApplReqForm5">
                    <tr>
                        <td colspan="5">
                            <b>10.&nbsp;&nbsp;Site Visits (if any) :</b>
                        </td>
                    </tr>
                </table>

                <div class="divLicenseInfo" id="dvsitevisits" style="margin-top: 30px;">
                    <p class="addNewDiv">
                        <span></span>
                    </p>
                    <table class="tblApplReqForm5 wthtop20" style="width: 100%;">
                        <tr>
                            <td class="txtalgnrgt">
                                <label class="input-label required">
                                    Site Visit Date :
                                </label>
                            </td>
                            <td>
                                <input type="text" id="TextBox15" data-ng-model="SiteVisit.SiteVisitDate" class="inputTextbox calendersite" placeholder="MM/DD/YYYY" />
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="txtalgnrgt">
                                <label class="input-label required">
                                    Type of Site Visit :
                                </label>
                            </td>
                            <td>
                                <select data-ng-model="SiteVisit.ProviderSiteId" name="StateCode" class="form-control" data-ng-options="item.ProviderSiteVisitTypeId as item.ProviderSiteVisitTypeName for item in sitevisittypeList">
                                    <option value="">Select</option>
                                </select>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="txtalgnrgt">
                                <label class="input-label required">
                                    Site Inspector :
                                </label>
                            </td>
                            <td>
                                <select data-ng-model="SiteVisit.SiteInspector" style="width: 105px !important;" class="inputTextbox">
                                    <option value="">Select</option>
                                    <option value="2016">2016</option>
                                    <option value="2016">2015</option>
                                </select>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="6"></td>
                        </tr>
                        <tr>
                            <td colspan="6" class="sitevisite" style="padding: 0px !important;"><span>Site Visit Documents</span></td>
                        </tr>
                        <tr>
                            <td class="txtalgnrgt">
                                <label class="input-label required">
                                    Document Name :
                                </label>
                            </td>
                            <td>
                                <input type="text" id="TextBox13" />
                            </td>
                            <td class="txtalgnrgt">
                                <label class="input-label required">
                                    Document Type :
                                </label>
                            </td>
                            <td>
                                <select data-ng-model="ProviderInformationDetails.SchoolAddressState1" name="SchoolAddressState" class="form-control" data-ng-options="item.StateCode as item.Name for item in StateList">
                                    <option value="">- Select -</option>
                                    <option value="1">Drivers License</option>
                                    <option value="2">Government ID Card</option>
                                    <option value="3">Passport</option>
                                    <option value="4">Other (specify)</option>
                                </select>
                            </td>
                        </tr>
                        <tr id="tr1" ng-show="false">
                            <td></td>
                            <td></td>
                            <td class="txtalgnrgt" style="width: 135px;">
                                <span class="input-label">
                                    Other Document Type :
                                </span>
                            </td>
                            <td>
                                <input type="text" id="TextBox14" width="167px" />
                            </td>
                        </tr>
                        <tr>
                            <td class="txtalgnrgt">
                                <label class="input-label required">
                                    Document :
                                </label>
                            </td>
                            <td>
                                <asp:fileupload id="FileUpload1" />
                            </td>
                            <td colspan="3">
                                <input type="button" id="Button4" style="margin-left: 10px;" class="buttonGreen small" value="Upload" />
                            </td>
                            <td></td>
                        </tr>
                    </table>
                    <div class="toolBar AfterApproved" style="padding: 4px; margin: 4px;">
                        <span class="fltrt">
                            <input type="button" id="Button6" class="buttonGreen medium" onclick="Button6()"
                                   value="Save" />
                        </span>
                    </div>
                </div>
                <div data-ag-grid="SiteDetailsGrid " class="ag-blue" style="color: #000; width: 98%; border: 1px solid rgb(221, 221, 221) ! important; margin-left: 7px; box-shadow: none; margin-top: 23px;"></div>
            </div>
        </fieldset>

        <div class="address-box posFixed" id="divEMail" ng-show="false" style="min-height: 30px; width: 87%; margin: 15px auto;">
            <div class="header">
                <asp:label id="lblErrorPnl1" value=""></asp:label>
            </div>
            <div class="" style="margin: 0 auto; width: 300px; line-height: 30px">
                <style>
                    .padding-table td {
                        padding: 4px;
                    }
                </style>
            </div>
        </div>
        <div class="toolBar AfterApproved" style="padding: 4px; margin: 4px;">
            <span class="fltrt">
                <input type="button" value="Save" data-ng-click="SaveSchoolInformation()" class="buttonGreen medium" />
                @*--<input type="button" value="Cancel" data-ng-click="clearMblex()" class="secondary medium bottom buttonalignment" />--*@
            </span>
        </div>
    </div>
</div>
<style type="text/css">
    .sectionDiv {
        height: 30px;
        background-color: #D6D3D3;
        line-height: 30px;
        padding-left: 10px;
        font-size: 14px;
        font-weight: bold;
    }

    .flsApplReqForm {
        border: 1px solid #EAEAEA;
        width: 95%;
        margin: 10px auto 0px;
    }

    fieldset {
        border: 0px none !important;
    }

    .flsParentNewApplReqForm {
        border: 1px solid #EAEAEA;
        width: 95%;
        margin: 10px auto 0px;
        line-height: 22px;
    }

    .address-box {
        position: relative;
        top: 2px;
        z-index: 1;
        color: #000;
        background: transparent -moz-linear-gradient(center top, #FCDCDE, #F3D5D6) repeat scroll 0% 0%;
        animation: 1.5s ease 0s normal none infinite running msg-error-pulse;
        box-shadow: 0px 1px 0px #F7FEF2 inset, 0px 1px 0px #DADEE1;
        border-radius: 5px;
        border: 1px solid #F9AFB4;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
</style>
<script type="text/javascript">
    $('.calendersite').datepicker({
        inline: true,
        changeMonth: true,
        changeYear: true,
        yearRange: "1900:2030"

    });
    $('.DateofNameChange').datepicker({
        inline: true,
        changeMonth: true,
        changeYear: true,
        yearRange: "1900:2030"

    });

</script>
