
@{
    ViewBag.Title = "Configuration";
}
<script type="text/javascript">
    var key = 'abcd';
</script>

<link href="~/Content/Theme1/jquery-ui/css/start/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
<link href="~/Content/Public/css/style.css" rel="stylesheet" />
<script src="~/Content/Public/js/ebsoft-loader.js"></script>
<script src="~/Content/Public/js/ebsoft-loader.js" type="text/javascript"></script>
<script src="~/Content/AngularJS/angular.js" type="text/javascript"></script>
<script src="~/Content/AngularJS/ag-grid.min.js"></script>
<script src="~/Areas/BackOffice/AppJS/app.js"></script>


<link href="~/Content/Public/css/NewButton.css" rel="stylesheet" type="text/css" />
<script src="~/Content/Public/js/jquery.mask.min.js" type="text/javascript"></script>

@*<script src="../../Validation/FormValidation.js" type="text/javascript"></script>*@
<link href="~/Content/Theme1/css/Individual.css?" rel="stylesheet" type="text/css" />
<link href="~/Content/Theme1/css/IndividualDetails.css?" rel="stylesheet" type="text/css" />
<link href="~/Content/Theme1/css/OnlineApplication.css?" rel="stylesheet" type="text/css" />
<link href="~/Content/Theme1/css/searchPanel.css?" rel="stylesheet" type="text/css" />
<link href="~/Content/Theme1/css/button.css" rel="stylesheet" />
<link href="~/Content/Theme1/css/NewButton.css" rel="stylesheet" />
<link href="~/Content/Theme1/css/style.css" rel="stylesheet" />

<div data-ng-app="LAPP" class="main" style="position: relative">
    <div class="container primary-content ">
        <div>
            <h3 style="float: left;">
                Configuration
            </h3>
        </div>
        <div class="clear">
        </div>
        <div id="dashboard-panels">
            <div class="relative-box ">
                <div class="dynamic-panels ui-sortable" style="">
                    @*<div id="Cashflow" class=" clearfix">
                        <asp:TabContainer ID="TabContainer1" runat="server" CssClass="fancy fancy-green">
                            <asp:TabPanel ID="tbpnCodes" Enabled="true" TabIndex="1" runat="server">
                                <HeaderTemplate>
                                    Codes
                                </HeaderTemplate>
                                <ContentTemplate>
                                    <uc1:ucCodes ID="ucCodes1" runat="server" />
                                </ContentTemplate>
                            </asp:TabPanel>
                            <asp:TabPanel ID="tbpnDocumentType" Enabled="true" TabIndex="2" runat="server">
                                <HeaderTemplate>
                                    Upload Document List
                                </HeaderTemplate>
                                <ContentTemplate>
                                    <uc3:ucDocumentType ID="ucDocumentType1" runat="server" />
                                </ContentTemplate>
                            </asp:TabPanel>
                            <asp:TabPanel ID="tbpnStatusColor" Enabled="true" TabIndex="3" runat="server">
                                <HeaderTemplate>
                                    Application Status Color
                                </HeaderTemplate>
                                <ContentTemplate>
                                    <uc4:ucStatus_Code ID="ucStatus_Code1" runat="server" />
                                </ContentTemplate>
                            </asp:TabPanel>
                            <asp:TabPanel ID="tbpnDeficiencyReason" Enabled="true" TabIndex="4" runat="server">
                                <HeaderTemplate>
                                    Deficiency Reason
                                </HeaderTemplate>
                                <ContentTemplate>
                                    <uc5:uclapp_application_deficiency_reason ID="uclapp_application_deficiency_reason1"
                                                                              runat="server" />
                                </ContentTemplate>
                            </asp:TabPanel>
                            <asp:TabPanel ID="tbpnManual" Enabled="true" runat="server">
                                <HeaderTemplate>
                                    Application Configuration
                                </HeaderTemplate>
                                <ContentTemplate>
                                    <uc1:ucConfiguration_Page ID="ucConfiguration_Page1" runat="server" />
                                </ContentTemplate>
                            </asp:TabPanel>
                            <asp:TabPanel ID="tbpnApplicationFee" Enabled="true" runat="server">
                                <HeaderTemplate>
                                    Application Fee
                                </HeaderTemplate>
                                <ContentTemplate>
                                    <uc6:ucApplicationFee ID="ucApplicationFee1" runat="server" />
                                    <uc7:ucTransactionFeeConfig ID="ucTransactionFeeConfig1" runat="server" />
                                </ContentTemplate>
                            </asp:TabPanel>
                            <asp:TabPanel ID="tbpnUserTask" Enabled="true" runat="server">
                                <HeaderTemplate>
                                    User Task
                                </HeaderTemplate>
                                <ContentTemplate>
                                    <uc8:ucUserTask ID="ucUserTask1" runat="server" />
                                </ContentTemplate>
                            </asp:TabPanel>
                        </asp:TabContainer>
                    </div>*@
                </div>
                @Html.Partial("~/Areas/BackOffice/Views/Home/PartialView/DeficiencyTemplate.cshtml");
            </div>
        </div>
        <div class="holder peel-shadows Individual" style="width: 98.4%; margin-top: -4px;">
        </div>
    </div>
</div>


