@{
    Layout = "~/Areas/School/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "ForgotPassword";
}

<div class="body body-s">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "sky-form" }))
    {

        <header>Password Recovery</header>

        <div id="pnlSuccess" style="display: none">
            <fieldset>
                <section>
                    <span id="ltrSuccess" />
                </section>
            </fieldset>
            <footer>
                @Html.ActionLink("Log In", "LogIn", "Account", null, new { @class = "button button-login", style = "width: 85%; text-align: center;" })
            </footer>
        </div>

        <div id="upReset">
            <fieldset>
                <section>                    
                    <div id="error_validation" class="address-box posFixed" style="display: none; color: red;"></div>
                </section>

                <section>
                    <label class="input">
                        <input type="text" id="txtEmail" class="inputTextbox NewAppPersonalTxtbx" placeholder="User Name (Email)">
                        <b class="tooltip tooltip-bottom-right">Please Enter E-mail</b>
                    </label>
                </section>
            </fieldset>
            <footer>

                <input id="btnSend" style="width: 100%" class="button" value="Submit" type="button" />
                @Html.ActionLink("Log In", "LogIn", "Account", null, new { @class = "button button-login", style = "width: 85%; text-align: center;" })

            </footer>
        </div>

    }
</div>

<script>

    function checkfrm() {
        $('#error_validation').text('');
        var error = '';
        error += ValidateEmail('<span class="notok"></span> @ErrorMessage.EmailFormat<br/>', '<span class="notok"></span> @ErrorMessage.Email<br/>', '#txtEmail', $('#txtEmail').val());

        if (error != '') {
            $('#error_validation').show();
            $('#btnLogin').attr('type', 'button');
            $(document).scrollTop(0);

            $('#error_validation').html(error);
            return false;
        }
        else {
            $('#error_validation').hide();
            $('#btnLogin').attr('type', 'submit');
            return true;
        }
    }

    $(document).ready(function () {

        $("#btnSend").click(function (event) {

            event.preventDefault();

            if (checkfrm()) {

                ShowLoader();

                $.get('http://ws.camtc.inlumon.com/api/User/ForgetPassword?Email=' + $("#txtEmail").val(), function (data) {
                    if (data.Status) {
                        $('#upReset').hide();
                        $('#pnlSuccess').show();
                        $('#ltrSuccess').text('A temporary password has been sent to you on your email address. You need to login using your new password.');
                    }
                    else {
                        $('#error_validation').show();
                        $('#error_validation').html("<span class='notok'></span>" + data.Message + "<br/>");
                    }
                }).fail(function () {
                    $('#error_validation').hide();
                    $('#error_validation').html("<span class='notok'></span> Oops! Something went wrong. <br/>");
                }).always(function () {
                    HideLoader();
                });

            }

        });
    });

</script>
