################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/slnCAMTC/.vs/slnCAMTC/v14/.suo
/slnCAMTC/.vs/config/applicationhost.config
/slnCAMTC/CAMTC/obj/Debug/CAMTC.pdb
/slnCAMTC/CAMTC/obj/Debug/CAMTC.dll
/slnCAMTC/CAMTC/bin/CAMTC.pdb
/slnCAMTC/CAMTC/bin/CAMTC.dll
/slnCAMTC/CAMTC/bin
