################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/slnCAMTC/.vs/slnCAMTC/v14/.suo
