<div ng-controller="TranscriptController"  ng-show="hasShow == 'true'">
    <section>
        <div id="error_validation" class="errorinfo address-box posFixed" style="color: red; display: block;"></div>
    </section>

    <div>
        <div class="sectionDiv">
            <span>Transcript</span>
        </div>
    </div>
    <fieldset class="flsNewApplReqForm flsNewApplReqForm3">
        <table>
            <tr>
                <td>
                    <b>19. Sample transcript.</b>
                    <p style="padding-left: 22px;">A sample transcript with no additional markings must be provided. Per CAMTC’s Policies and Procedures for Approval of Schools, transcripts should include at minimum :</p>

                    <ul style="margin-left: 35px;" class="lipadding">
                        <li>
                            <p>
                                School name, address, telephone number, website, and CAMTC School Approval Code (once
                                approved), which shall exactly match information on file at CAMTC.
                            </p>
                        </li>
                        <li>
                            <p>Heading entitled “Official Transcript.”</p>
                        </li>
                        <li>
                            <p>Student’s full legal name and date of birth.</p>
                        </li>
                        <li>
                            <p>
                                Date student started program and date student graduated or, for programs longer than 500 hours,
                                completed CAMTC requirements, if applicable.
                            </p>
                        </li>
                        <li>
                            <p>
                                Breakdown of courses completed with total number of supervised clock hours attended and
                                passing grades for each course. Courses shall match those listed in the provided syllabi and
                                program hour requirement worksheet (included with application).
                            </p>
                        </li>
                        <li>
                            <p>Total number of supervised clock hours attended for massage program.</p>
                        </li>
                        <li>
                            <p>At least one authorized signature with printed name, title, and date.</p>
                        </li>
                        <li>
                            <p>Official school seal affixed, embossed, or otherwise attached to transcript.</p>
                        </li>
                        <li>
                            <p>Sufficient security measures that uniquely identify the school’s transcripts.</p>
                        </li>
                    </ul>
                    <p style="padding-left: 22px; padding-top: 5px; padding-bottom: 5px;">
                        Transcripts from public colleges or universities of the California state higher education system, as
                        defined in section 100850 of the Education Code, shall meet or exceed standards as determined by
                        governing laws and regulations.
                    </p>
                    <div class="padding-left-doucment">
                        <div class="">
                            <div id="fuTranscript1" class="documentContainer" data-docid="19" data-doc-code="D1019" doc-simple="true">

                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <b>20. Sample transcript with highlights and descriptions of unique security measures:</b>
                    <div class="padding-left-doucment">
                        <div class="">
                            <div id="fuTranscript2_upDoc" class="documentContainer" data-docid="20" data-doc-code="D1020" data-simple="true">
                                @*Document File Upload Partial View -> Type :: Simple*@
                                @*docId = "20";
                                    docCode = "D1020";
                                    isSimple = true;*@
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <b>21. Massage program addendum, if any.</b>
                    <div class="padding-left-doucment">
                        <div class="">
                            <div id="fuTranscript3_upDoc" class="documentContainer" data-docid="21" data-doc-code="D1021" data-simple="true">
                                @*Document File Upload Partial View -> Type :: Simple*@
                                @*docId = "21";
                                    docCode = "D1021";
                                    isSimple = true;*@
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <b>22. Signatures, printed names, and titles for all approved signers.</b>
                    <div class="padding-left-doucment" style="margin-top: -22px;">
                        <input type="submit" name="btnSigntureAdd" value="Add" id="btnSigntureAdd" class="buttonGreen small" style="float: right; margin-right: 265px; display: none;">
                    </div>
                    <div id="dvSignture" class="padding-left-doucment">
                        <div>
                            <table class="withoutbrder">
                                <tbody>
                                    <tr>
                                        <td align="right">
                                            <label class="input-label required">
                                                First Name :
                                            </label>
                                        </td>
                                        <td>
                                            <input name="TextBox96" type="text" id="TextBox96" class="OnlyAlphabet" style="width:170px;" autocomplete="off">
                                        </td>
                                        <td align="right">
                                            <label class="input-label required" style="margin-left: 10px;">
                                                Last Name :
                                            </label>
                                        </td>
                                        <td>
                                            <input name="TextBox98" type="text" id="TextBox98" class="inputTextbox OnlyAlphabet" placeholder="" autocomplete="off">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="height: 10px;"></td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                            <label class="input-label required">
                                                Title :
                                            </label>
                                        </td>
                                        <td>
                                            <input name="TextBox131" type="text" id="TextBox131" class="inputTextbox OnlyAlphabet" placeholder="" autocomplete="off">
                                        </td>
                                        <td></td>
                                        <td></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="" style="margin-left: 12px;">
                            <div id="fuSignatureTranscript_upDoc" class="documentContainer" data-docid="22" data-doc-code="D1022" data-simple="true">

                            </div>
                            @*<table class="withoutbrder">
                                <tbody>
                                    <tr>
                                        <td>
                                            <span id="Label26">Document : </span>
                                        </td>
                                        <td style="width: 277px;">
                                            <input type="file" name="fusignature" id="fusignature">
                                        </td>
                                        <td>
                                            <input type="submit" name="btnuploadsign" value="Upload Document" id="btnuploadsign" class="buttonGreen small">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>*@
                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <b>23. Sample diploma (NOTE: Diplomas are not accepted in lieu of transcripts as proof of education).</b>
                    <div class="padding-left-doucment">
                        <div class="">
                            <div id="fuTranscript4_upDoc" class="documentContainer" data-docid="23" data-doc-code="D1023" data-simple="true">
                                @*Document File Upload Partial View -> Type :: Simple*@
                                @*docId = "23";
                                    docCode = "D1023";
                                    isSimple = true;*@
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <b>24. Sample envelope (front <u>and</u> back) from the school in which transcripts will be mailed to CAMTC.</b>
                    <div class="padding-left-doucment">
                        <div class="">
                            <div id="fuTranscript5_upDoc" class="documentContainer" data-docid="24" data-doc-code="D1024" data-simple="true">
                                @*Document File Upload Partial View -> Type :: Simple*@
                                @*docId = "24";
                                    docCode = "D1024";
                                    isSimple = true;*@
                            </div>
                        </div>
                    </div>
                    <div class="padding-left-doucment">
                        <div class="">
                            <div id="fuTranscript6_upDoc" class="documentContainer" data-docid="25" data-doc-code="D1025" data-simple="true">
                                @*Document File Upload Partial View -> Type :: Simple*@
                                @*docId = "25";
                                    docCode = "D1025";
                                    isSimple = true;*@
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
    <div class="toolBar AfterApproved" style="padding: 4px; margin: 4px;">
        <div style="float: left;">
        </div>
        <span class="fltrt">
            <input type="submit" name="btnNextTransChkList" value="Save &amp; Next" id="btnNextTransChkList" class="buttonGreen medium" ng-click="Save_final()">

            <a id="LinkButton4" class="secondary medium bottom buttonalignment">Cancel</a>
        </span>
    </div>

</div>
