<div id="enrollment" ng-controller="EnrollmentController" ng-show="hasShow == 'true'">
    <section>
        <div id="error_validation" class="errorinfo address-box posFixed" style="color: red; display: block;"></div>
    </section>

    <div>
        <div class="sectionDiv">
            <span>Enrollment Agreement</span>
        </div>
    </div>
    <fieldset class="flsNewApplReqForm flsCharacterReferences" style="text-align: left;">
        <table>
            <tbody>
                <tr>
                    <td>
                        <b>25. Blank Enrollment Agreement.</b>
                        <p style="padding-left: 22px;">
                            A blank enrollment agreement must be provided. Per CAMTC’s Policies and Procedures for Approval of Schools,
                            enrollment agreements should include at minimum :
                        </p>

                        <ul class="lipadding" style="margin-left: 35px;">
                            <li>
                                <p>
                                    School name, address, additional addresses where classes will be held, telephone number, and
                                    website.
                                </p>
                            </li>
                            <li>
                                <p>Student’s full legal name, date of birth, address, email, telephone number, and signature.</p>
                            </li>
                            <li>
                                <p>Copy of a current valid government issued photographic identification.</p>
                            </li>
                            <li>
                                <p>
                                    Title of massage program and total scheduled number of supervised hours received upon
                                    completion.
                                </p>
                            </li>
                            <li>
                                <p>Program schedule with start date and scheduled completion date.</p>
                            </li>
                            <li>
                                <p>
                                    All scheduled charges and fees including, as applicable: tuition, registration fee, equipment, lab
                                    supplies, textbooks, educational materials, uniforms, charges paid to an entity other than the
                                    school as required by the program, and any other charge or fee.
                                </p>
                            </li>
                            <li>
                                <p>Scheduled payment terms.</p>
                            </li>
                            <li>
                                <p>
                                    Clearly visible disclosure statement: “Attendance and/or graduation from a California Massage
                                    Therapy Council approved school does not guarantee certification by CAMTC. Applicants for
                                    certification shall meet all requirements as listed in California Business and Professions Code
                                    sections 4600 et. seq.”
                                </p>
                            </li>
                            <li>
                                <p>
                                    Statement directing students to CAMTC for unanswered questions and for filing a complaint: “A
                                    student or any member of the public with questions that have not been satisfactorily answered by
                                    the school or who would like to file a complaint about this school may contact the California
                                    Massage Therapy Council at: One Capitol Mall, Suite 800, Sacramento, CA 95814,
                                    <a href="http://www.camtc.org" target="_blank" onclick="javascript:EnableTb('.txtQestion27');" class="hyperlink">www.camtc.org</a>, phone (916) 669-5336, or fax (916) 669-5337.”
                                </p>
                            </li>
                        </ul>
                        <br>
                        <p style="padding-left: 22px;">Note: Enrollment agreements from public colleges or universities of the California state higher education system, as defined in section 100850 of the Education Code, and public schools accredited by an agency recognized by the United States Department of Education shall meet or exceed standards as determined by governing laws and regulations.</p>
                        <div class="dvuploadgrid" style="margin-left: 22px; margin-top:20px;">
                            <div class="dvuploadclass">
                                <div id="ContentPlaceHolder1_ucCertificationApplication1_fuEnrollAgree1_upDoc">

                                    <input type="hidden" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$fuEnrollAgree1$hfStatus" id="ContentPlaceHolder1_ucCertificationApplication1_fuEnrollAgree1_hfStatus" value="0">

                                    <div id="fuEnrollAgree1_upDoc" data-isrequired="false" class="documentContainer" data-docid="26" data-doc-code="D1026" data-simple="true">
                                    </div>

                                </div>

                            </div>
                        </div><br />
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>26. Massage program addendum, if any.</b>
                        <div class="dvuploadgrid" style="margin-left: 22px; margin-top:20px;">
                            <div class="dvuploadclass">
                                <div id="fuEnrollAgree2_upDoc" data-isrequired="false" class="documentContainer" data-docid="27" data-doc-code="D1027" data-simple="true">
                                </div>

                            </div>
                        </div>

                    </td>
                </tr>


            </tbody>
        </table>
    </fieldset>
    <div class="toolBar AfterApproved" style="padding: 4px; margin: 4px;">
        <div style="float: left;">
        </div>
        <span class="fltrt">
            <input type="button" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$btnNextEnrollChkList" value="Save &amp; Next" id="ContentPlaceHolder1_ucCertificationApplication1_btnNextEnrollChkList" class="buttonGreen medium" ng-click="Save_final()">
            <a id="ContentPlaceHolder1_ucCertificationApplication1_LinkButton5" class="secondary medium bottom buttonalignment" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$ucCertificationApplication1$LinkButton5", "", true, "", "", false, true))'>Cancel</a>
        </span>
    </div>
</div>
