<div id="instructions" ng-controller="InstructionsController" ng-show="hasShow == 'true'">
    <section>
        <div id="error_validation" class="errorinfo address-box posFixed" style="color: red; display: block;"></div>
    </section>

    <div>
        <div class="sectionDiv">
            <span>Instructions</span>
        </div>
        <fieldset class="flsLiveScanApp flsLiveScanApp1">
            <table class="tblLiveScanApp tblLiveScanApp1">
                <tbody>
                    <tr>
                        <td>
                            <b>1. Instructions. </b>
                            <p class="space_left">
                                Have you read ALL of the most current version of the California Massage Therapy  Council’s (“CAMTC’s”)
                                <b>
                                    <a class="hyperlink" onclick="changeItemState()" href="https://www.camtc.org/" target="_blank">
                                        Policies and Procedures for Approval of Schools?
                                    </a>
                                </b>
                            </p>

                        </td>
                        <td></td>
                        <td align="left" class="cursorpointer rightchek">
                            <p>
                            </p><table class="aspNetDisabled" id="ContentPlaceHolder1_ucCertificationApplication1_rblQuestionEdit1">
                                <tbody>
                                    <tr>
                                        <td><span class="aspNetDisabled"><input type="radio" ng-model="chk" checked="checked" value="1" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$rblQuestionEdit1" id="ContentPlaceHolder1_ucCertificationApplication1_rblQuestionEdit1_0"><span for="ContentPlaceHolder1_ucCertificationApplication1_rblQuestionEdit1_0">Yes</span></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <p></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <p class="pading_text_instruct">
                                PLEASE READ the most current version of CAMTC’s Policies and Procedures for Approval of Schools before continuing the application
                                process. Providing incomplete or misleading information to CAMTC may result in processing delays,
                                denial of your application for school approval, disciplinary action, revocation of school approval, or additional processing fees.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <b>
                                <p class="boldtext_instruct">
                                    (The Yes button is enabled only after you have clicked on the Policies and Procedures for Approval of Schools link above and read them.)
                                </p>
                            </b>
                        </td>
                        <td></td>
                    </tr>

                </tbody>
            </table>
        </fieldset>
    </div>
    <div style="display: none;" class="readinstrucn">
        <input type="checkbox" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$chkManApplicatinInstructions" id="ContentPlaceHolder1_ucCertificationApplication1_chkManApplicatinInstructions"><span for="ContentPlaceHolder1_ucCertificationApplication1_chkManApplicatinInstructions">I have read the instructions.</span>
    </div>
    <div class="toolBar AfterApproved toolbar_instruct">
        <span class="fltrt">
            <input type="button" class="aspNetDisabled buttonGreen medium" id="ContentPlaceHolder1_ucCertificationApplication1_btnApplicationStatus" value="Save &amp; Next" ng-click="Save_final()">
            <a href="#" class="secondary medium bottom buttonalignment" id="ContentPlaceHolder1_ucCertificationApplication1_lnkApplicationStatusCancel">Cancel</a>
        </span>
    </div>
</div>
