<div ng-controller="CurriculumController"  ng-show="hasShow == 'true'">
    <div id="error_validation" class="address-box posFixed" style="display: none; color: red;"></div>


    <div>
        <div class="sectionDiv">
            <span>Curriculum</span>
        </div>
    </div>
    <fieldset class="flsNewApplReqForm flsCharacterReferences">
        <b>29. Curriculum.</b>
        <p style="padding-left: 21px;">Please indicate which classes or subjects fulfill the minimum core educational requirements as set forth in CAMTC’s Policies and Procedures for Approval of Schools : </p>

        <div class="table_design" style="margin-top: 22px;">
            <div>
                <table class="index  grid" cellspacing="0" cellpadding="5" id="gvProgHrWrkSheet" style="color:#333333;width:100%;border-collapse:collapse;">
                    <tbody>
                        <tr>
                            <th scope="col">Required Course of Study</th>
                            <th scope="col">Minimum Required Course Hours</th>
                            <th class="aligncenter" scope="col">Action</th>
                        </tr>
                        <tr>
                            <td>
                                <span id="lblProgHrWrkSheetCourse">Anatomy &amp; Physiology</span>
                            </td>
                            <td>
                                <span id="lblProgHrWrkSheetCourseHr">64</span>
                            </td>
                            <td align="center" valign="middle" style="width:200px;">
                                <span class="fltrt AfterApproved">
                                    <a id="lnkCoursesRequirementsOpen" title="Open Courses Required" class="hyperlink" rowindex="0" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$ucCertificationApplication1$gvProgHrWrkSheet$ctl02$lnkCoursesRequirementsOpen", "", true, "", "", false, true))'>Courses that Fulfill Requirements </a>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span id="lblProgHrWrkSheetCourse">Contraindications</span>
                            </td>
                            <td>
                                <span id="lblProgHrWrkSheetCourseHr">13</span>
                            </td>
                            <td align="center" valign="middle" style="width:200px;">
                                <span class="fltrt AfterApproved">
                                    <a id="lnkCoursesRequirementsOpen" title="Open Courses Required" class="hyperlink" rowindex="1" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$ucCertificationApplication1$gvProgHrWrkSheet$ctl03$lnkCoursesRequirementsOpen", "", true, "", "", false, true))'>Courses that Fulfill Requirements </a>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span id="lblProgHrWrkSheetCourse">Health &amp; Hygiene</span>
                            </td>
                            <td>
                                <span id="lblProgHrWrkSheetCourseHr">5</span>
                            </td>
                            <td align="center" valign="middle" style="width:200px;">
                                <span class="fltrt AfterApproved">
                                    <a id="lnkCoursesRequirementsOpen" title="Open Courses Required" class="hyperlink" rowindex="2" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$ucCertificationApplication1$gvProgHrWrkSheet$ctl04$lnkCoursesRequirementsOpen", "", true, "", "", false, true))'>Courses that Fulfill Requirements </a>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span id="lblProgHrWrkSheetCourse">Business &amp; Ethics</span>
                            </td>
                            <td>
                                <span id="lblProgHrWrkSheetCourseHr">18</span>
                            </td>
                            <td align="center" valign="middle" style="width:200px;">
                                <span class="fltrt AfterApproved">
                                    <a id="lnkCoursesRequirementsOpen" title="Open Courses Required" class="hyperlink" rowindex="3" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$ucCertificationApplication1$gvProgHrWrkSheet$ctl05$lnkCoursesRequirementsOpen", "", true, "", "", false, true))'>Courses that Fulfill Requirements </a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



        <table class="tblApplReqForm5" style="margin-top: 15px;">
            <tbody>
                <tr>
                    <td style="width: 3%"><b>30.</b></td>

                    <td style="padding-left: 0px; line-height: 20px; text-align: left;">

                        <label class="input-label required">
                            <span>
                                <b>
                                    What is the maximum number of clinic hours performed in the initial
                                    500 hours of your program
                                </b> (cannot exceed 75 hours)?
                            </span>
                        </label>
                        <input name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$txtcarculam" type="text" value="76" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ucCertificationApplication1$txtcarculam\',\'\')', 0)" onkeypress="if (WebForm_TextBoxKeyHandler(event) == false) return false;" id="ContentPlaceHolder1_ucCertificationApplication1_txtcarculam" class="OnlyNumeric" style="width: 75px;" autocomplete="off">

                    </td>

                </tr>
                <tr id="ContentPlaceHolder1_ucCertificationApplication1_trClinicHour">
                    <td colspan="2">
                        <div class="error_header" style="background-color: rgb(254, 234, 234); padding-top: 7px; display:none; border: 1px solid rgb(254, 193, 193);">
                            <span id="ContentPlaceHolder1_ucCertificationApplication1_lblClinicHour">Maximum number of clinic hours cannot exceed 75 hours.</span>

                        </div>
                    </td>
                </tr>


            </tbody>
        </table>


    </fieldset>

    <div id="ContentPlaceHolder1_ucCertificationApplication1_dvAboutCurriculumUpSection" class="dvdecorate" style="margin-top: 30px; width: 95%;">
        <p>
            <b>31. Curriculum Supporting Documentation :</b>
        </p>

        <table class="dvdecorate" style="width: 97%; margin-left: 22px; margin-top: 15px;">
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <div id="fuCourseCurriculum1_upDoc" class="documentContainer" data-docid="30" data-doc-code="D1030" data-simple="true">

                        </div>



                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <br>
        <table class="dvdecorate" style="width: 97%; margin-left: 22px;">
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <div id="fuCourseCurriculum2_upDoc" class="documentContainer" data-docid="31" data-doc-code="D1031" data-simple="true">

                        </div>





                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <br>
        <table class="dvdecorate" style="width: 97%; margin-left: 22px;">
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <div id="fuCourseCurriculum3_upDoc" class="documentContainer" data-docid="32" data-doc-code="D1032" data-simple="true">

                        </div>





                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <br>
        <table class="dvdecorate" style="width: 97%; margin-left: 22px;">
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <div id="fuCourseCurriculum4_upDoc" class="documentContainer" data-docid="33" data-doc-code="D1033" data-simple="true">

                        </div>





                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <br>
        <table class="dvdecorate" style="width: 97%; margin-left: 22px;">
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <div id="fuCourseCurriculum5_upDoc" class="documentContainer" data-docid="34" data-doc-code="D1034" data-simple="true">

                        </div>





                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <br>
        <table class="dvdecorate" style="width: 97%; margin-left: 22px;">
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <div id="fuCourseCurriculum6_upDoc" class="documentContainer" data-docid="35" data-doc-code="D1035" data-simple="true">

                        </div>





                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <br>
        <table class="dvdecorate" style="width: 97%; margin-left: 22px;">
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <div id="fuCourseCurriculum7_upDoc" class="documentContainer" data-docid="36" data-doc-code="D1036" data-simple="true">

                        </div>





                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <br>
        <table class="dvdecorate" style="width: 97%; margin-left: 11px;">
            <tbody>
                <tr>
                    <td>
                        <div id="fuCourseCurriculum8_upDoc" class="documentContainer" data-docid="37" data-doc-code="D1037" data-simple="false">

                        </div>




                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div class="toolBar AfterApproved" style="padding: 4px; margin: 4px; display: none;">
            <span class="fltrt">
                <input type="submit" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$btnSaveAboutCurriculum" value="Save" onclick="SaveAboutCurriculum();WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ContentPlaceHolder1$ucCertificationApplication1$btnSaveAboutCurriculum&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="ContentPlaceHolder1_ucCertificationApplication1_btnSaveAboutCurriculum" class="buttonGreen medium">
                <a id="ContentPlaceHolder1_ucCertificationApplication1_lblCancelAboutCurriculum" class="secondary medium bottom buttonalignment" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$ucCertificationApplication1$lblCancelAboutCurriculum", "", true, "", "", false, true))'>Cancel</a>
            </span>
        </div>

    </div>



    <div class="toolBar AfterApproved" style="padding: 4px; margin: 4px;">
        <div style="float: left;">
        </div>
        <span class="fltrt">
            <input type="submit" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$btnNextProHo" value="Save &amp; Next" onclick="btnNextProHo();" id="ContentPlaceHolder1_ucCertificationApplication1_btnNextProHo" class="buttonGreen medium">

            <a id="ContentPlaceHolder1_ucCertificationApplication1_LinkButton7" class="secondary medium bottom buttonalignment" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$ucCertificationApplication1$LinkButton7", "", true, "", "", false, true))'>Cancel</a>
        </span>
    </div>

</div>

