<div ng-controller="AboutController" ng-show="hasShow == 'true'">

    <div id="error_validation" class="address-box posFixed" style="display: none; color: red;"></div>


    <div>
        <div id="error_aboutschool" class="address-box posFixed" style="display: none; color: red;"></div>
        <div class="sectionDiv">
            <span>About the School </span>
        </div>
        <div id="upLicenseInfo">
            <fieldset class="flsNewApplReqForm flsNewApplReqForm3" style="text-align: justify;">
                <table class="tblApplReqForm5">
                    <tr>
                        <td style="width: 100%; line-height: 20px; padding-top: 0px ! important;">
                            <b>11. Number of Graduates</b>
                            <p style="padding-left: 20px; width: 95%;">
                                Please list the TOTAL number of graduates from ALL massage programs for which the school
                                seeks approval. Do not include continuing education classes or other programs.
                                Put “0” if the program is new or had no graduates.
                            </p>
                        </td>
                        <td style="width: 545px; padding-left: 0px; line-height: 18px; text-align: justify;"></td>
                    </tr>
                </table>
                <table>
                    <tr style="height: 15px; width: 100%; float: left;"></tr>
                </table>
                <table style="margin-left: 50px;">
                    <tr>
                        <td class="txtalgnrgt">
                            <label class="input-label required">
                                Estimated Graduates for 2016 Calendar Year :
                            </label>
                        </td>
                        <td>
                            <input name="txtGradYear" type="text" value="12" maxlength="150" id="txtGradYear" onkeypress="return numeric(event)" style="width:100px;" autocomplete="off">
                            <input type="hidden" name="hdnGradYear" id="hdnGradYear" value="33">
                        </td>
                    </tr>
                    <tr style="height: 10px; width: 100px;"></tr>
                    <tr>
                        <td class="txtalgnrgt">
                            <label class="input-label required">
                                Graduates from 2015 Calendar Year :
                            </label>
                        </td>
                        <td>
                            <input name="txtGradYear_1" type="text" value="15" maxlength="150" id="txtGradYear_1" class="inputTextbox NewAppPersonalTxtbx" onkeypress="return numeric(event)" style="width:100px;" autocomplete="off">
                            <input type="hidden" name="hdnGradYear_1" id="hdnGradYear_1" value="34">
                        </td>
                    </tr>
                    <tr style="height: 10px; width: 100px;"></tr>
                    <tr>
                        <td class="txtalgnrgt">
                            <label class="input-label required">
                                Graduates from 2014 Calendar Year :
                            </label>
                        </td>
                        <td>
                            <input name="txtGradYear_2" type="text" value="0" maxlength="150" id="txtGradYear_2" class="inputTextbox NewAppPersonalTxtbx" onkeypress="return numeric(event)" style="width:100px;" autocomplete="off">
                            <input type="hidden" name="hdnGradYear_2" id="hdnGradYear_2" value="35">
                        </td>
                    </tr>
                    <tr style="height: 10px; width: 100px;"></tr>
                    <tr>
                        <td class="txtalgnrgt">
                            <label class="input-label required">
                                Graduates from 2013 Calendar Year :
                            </label>
                        </td>
                        <td>
                            <input name="txtGradYear_3" type="text" value="9" maxlength="150" id="txtGradYear_3" class="inputTextbox NewAppPersonalTxtbx" onkeypress="return numeric(event)" style="width:100px;" autocomplete="off">
                            <input type="hidden" name="hdnGradYear_3" id="hdnGradYear_3" value="36">
                        </td>
                    </tr>
                    <tr style="height: 10px; width: 100px;"></tr>
                    <tr>
                        <td class="txtalgnrgt">
                            <label class="input-label required">
                                Graduates from 2012 Calendar Year :
                            </label>
                        </td>
                        <td>
                            <input name="txtGradYear_4" type="text" value="18" maxlength="150" id="txtGradYear_4" class="inputTextbox NewAppPersonalTxtbx" onkeypress="return numeric(event)" style="width:100px;" autocomplete="off">
                            <input type="hidden" name="hdnGradYear_4" id="hdnGradYear_4" value="37">
                        </td>
                    </tr>
                    <tr style="height: 10px; width: 100px;"></tr>
                    <tr>
                        <td class="txtalgnrgt">
                            <label class="input-label required">
                                Graduates from 2011 Calendar Year :
                            </label>
                        </td>
                        <td>
                            <input name="txtGradYear_5" type="text" value="79" maxlength="150" id="txtGradYear_5" class="inputTextbox NewAppPersonalTxtbx" onkeypress="return numeric(event)" style="width:100px;" autocomplete="off">
                            <input type="hidden" name="hdnGradYear_5" id="hdnGradYear_5" value="38">
                        </td>
                    </tr>
                    <tr style="height: 10px; width: 100px;"></tr>
                    <tr>
                        <td class="txtalgnrgt">
                            <label class="input-label required">
                                Graduates from 2010 Calendar Year :
                            </label>
                        </td>
                        <td>
                            <input name="txtGradYear_6" type="text" value="0" maxlength="150" id="txtGradYear_6" class="inputTextbox NewAppPersonalTxtbx" onkeypress="return numeric(event)" style="width:100px;" autocomplete="off">
                            <input type="hidden" name="hdnGradYear_6" id="hdnGradYear_6" value="39">
                        </td>
                    </tr>
                    <tr style="height: 10px; width: 100px;"></tr>
                    <tr>
                        <td class="txtalgnrgt">
                            <label class="input-label required">
                                Graduates from 2009 Calendar Year :
                            </label>
                        </td>
                        <td>
                            <input name="txtGradYear_7" type="text" value="56" maxlength="150" id="txtGradYear_7" class="inputTextbox NewAppPersonalTxtbx" onkeypress="return numeric(event)" style="width:100px;" autocomplete="off">
                            <input type="hidden" name="hdnGradYear_7" id="hdnGradYear_7" value="40">
                        </td>
                    </tr>
                </table>
                <table>
                    <tr style="height: 15px; width: 100%; float: left;"></tr>
                </table>

                <div>
                    <table class="index  grid" cellspacing="0" cellpadding="5" id="gvGraduatesNumber" style="color:#333333;width:100%;border-collapse:collapse;">
                        <tr>
                            <th scope="col">Year</th>
                            <th scope="col">Estimated</th>
                            <th scope="col">Year</th>
                            <th scope="col">Actual</th>
                        </tr>
                    </table>
                </div>

                <table>
                    <tr style="height: 15px; width: 100%; float: left;"></tr>
                </table>
                <table>
                    <tr>
                        <td><b>12. Type of Business Organization</b></td>
                    </tr>
                </table>
                <table style="margin-left: 20px; margin-top: 5px; margin-bottom: 5px;">
                    <tr>
                        <td>
                            <div class="listbox_auto">
                                <table id="cblBussOrg" class="pdgnone" style="line-height: 20px; width: 300px;">
                                    <tr>
                                        <td><input id="cblBussOrg_0" type="checkbox" name="cblBussOrg$0" value="0"><label for="cblBussOrg_0">Individual</label></td>
                                    </tr>
                                    <tr>
                                        <td><input id="cblBussOrg_1" type="checkbox" name="cblBussOrg$1" value="1"><label for="cblBussOrg_1">Married Couple</label></td>
                                    </tr>
                                    <tr>
                                        <td><input id="cblBussOrg_2" type="checkbox" name="cblBussOrg$2" value="2"><label for="cblBussOrg_2">Partnership</label></td>
                                    </tr>
                                    <tr>
                                        <td><input id="cblBussOrg_3" type="checkbox" name="cblBussOrg$3" value="3"><label for="cblBussOrg_3">For Profit Corporation</label></td>
                                    </tr>
                                    <tr>
                                        <td><input id="cblBussOrg_4" type="checkbox" name="cblBussOrg$4" value="4"><label for="cblBussOrg_4">Non-Profit Corporation</label></td>
                                    </tr>
                                    <tr>
                                        <td><input id="cblBussOrg_5" type="checkbox" name="cblBussOrg$5" value="5"><label for="cblBussOrg_5">Limited Liability Corporation</label></td>
                                    </tr>
                                    <tr>
                                        <td><input id="cblBussOrg_6" type="checkbox" name="cblBussOrg$6" value="6"><label for="cblBussOrg_6">Public Institution</label></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <b>13. Proof of Ownership</b>
                            <p style="padding-left: 20px; width: 95%;">
                                Please provide all documents, as directed by the Policies and Procedures for
                                Approval of Schools, that support Proof of Ownership.
                            </p>
                        </td>
                    </tr>
                </table>

                <div id="dvAboutOwnershipUpSection" class="dvdecorate">
                    @*Document File Upload Partial View -> Type :: Complex*@
                    @*docId = "3";
                        docCode = "D1003";
                        isSimple = false;*@
                </div>

                <table style="margin-top: 15px; float: left; width: 100%;">
                    <tr>
                        <td><b>14. Proof of Business Operations</b></td>
                    </tr>
                </table>
                <div id="dvAboutBusinessDocUpSection" class="dvdecorate" style="margin-bottom: 30px;">
                    <table class="wthtop20" style="width: 97%; margin-left: 13px;">
                        <tr style="line-height: 20px;">
                            <td colspan="4">
                                <p>
                                    Please provide all documents, as directed by the Policies and Procedures for
                                    Approval of Schools, that support Proof of Business Operations.
                                </p>
                            </td>
                        </tr>
                    </table>

                    <div id="fuAboutSchool2_upDoc">
                        @*Document File Upload Partial View -> Type :: Complex*@
                        @*docId = "4";
                            docCode = "D1004";
                            isSimple = false;*@
                    </div>

                    <br>

                    <div id="fuAboutSchool3_upDoc">
                        @*Document File Upload Partial View -> Type :: Simple*@
                        @*docId = "5";
                            docCode = "D1005";
                            isSimple = true;*@
                    </div>

                    <br>

                    <div id="fuAboutSchool4_upDoc">
                        @*Document File Upload Partial View -> Type :: Simple*@
                        @*docId = "6";
                            docCode = "D1006";
                            isSimple = true;*@
                    </div>

                    <br>

                    <div id="fuAboutSchool5_upDoc">
                        @*Document File Upload Partial View -> Type :: Simple*@
                        @*docId = "9";
                            docCode = "D1009";
                            isSimple = true;*@
                    </div>

                    <br>

                    <div id="fuAboutSchool6_upDoc">
                        @*Document File Upload Partial View -> Type :: Simple*@
                        @*docId = "10";
                            docCode = "D1010";
                            isSimple = true;*@
                    </div>

                    <br>

                    <div id="fuAboutSchool7_upDoc">
                        @*Document File Upload Partial View -> Type :: Complex*@
                        @*docId = "11";
                            docCode = "D1011";
                            isSimple = false;*@
                    </div>

                    <br>

                </div>

                <table>
                    <tr>
                        <td style="width: 100%; line-height: 20px;">
                            <b>15. Related Schools</b>
                            <p style="padding-left: 20px; width: 95%; padding-top: 5px;">
                                If this school or campus shares its name, address, and/or ownership with another school(s),
                                please list (NOTE: each campus seeking CAMTC school approval must submit a separate
                                application).
                            </p>
                        </td>
                    </tr>
                </table>
                <table style="width: 95%; margin-top: 10px; margin-left: 20px;">
                    <tr>
                        <td class="6">

                            @*divAddNewRelatedSchools will display on click of button btnAddNewRelatedSchools*@
                            <div id="divAddNewRelatedSchools">
                                <table class="tblApplReqForm5">
                                    <tr>
                                        <td colspan="6">
                                            <table class="tblApplReqForm5">
                                                <tr>
                                                    <td class="txtalgnrgt" style="width: 110px;">
                                                        <label class="input-label required">
                                                            School Name :
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <input name="TextBox2" type="text" id="TextBox2" class="inputTextbox NewAppPersonalTxtbx" style="width:518px;" autocomplete="off">
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="6">
                                            <table class="tblApplReqForm5">
                                                <tr style="margin-left: -134px; margin-top: -12px; float: left;">
                                                    <td class="txtalgnrgt" style="width: 245px;">
                                                        <label class="input-label required">
                                                            Primary Contact First Name :
                                                        </label>
                                                    </td>
                                                    <td style="padding-top: 20px ! important;">
                                                        <input name="TextBox65" type="text" id="TextBox65" class="inputTextbox NewAppPersonalTxtbx OnlyAlphabet" style="width: 170px;" autocomplete="off">
                                                    </td>
                                                    <td class="txtalgnrgt" style="width: 195px;">
                                                        <label class="input-label required">
                                                            Primary Contact Last Name :
                                                        </label>
                                                    </td>
                                                    <td style="padding-top: 20px ! important;">
                                                        <input name="TextBox66" type="text" id="TextBox66" class="inputTextbox NewAppPersonalTxtbx OnlyAlphabet" style="width:140px;" autocomplete="off">
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width: 111px;" class="txtalgnrgt">
                                            <label class="input-label required">
                                                Street :
                                            </label>
                                        </td>
                                        <td colspan="5" style="padding-top: 20px !important;">
                                            <input name="TextBox6" type="text" maxlength="500" id="TextBox6" class="calWidth us_street" style="width:518px;" autocomplete="off">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="5" style="padding-top: 20px ! important;">
                                            <input name="TextBox7" type="text" maxlength="500" id="TextBox7" class="calWidth us_street" style="width:518px;" autocomplete="off">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="txtalgnrgt">
                                            <label class="input-label required">
                                                City :
                                            </label>
                                        </td>
                                        <td style="width: 151px; padding-top: 20px ! important;">
                                            <input name="txtSchoolCity" type="text" maxlength="500" id="txtSchoolCity" class="tooltip OnlyAlphabet calWidth" title="Only A-Z characters are allowed." style="width:133px;" autocomplete="off">
                                        </td>
                                        <td class="txtalgnrgt" style="width: 52px; padding-top: 20px ! important;">
                                            <label class="input-label required">
                                                State :
                                            </label>
                                        </td>
                                        <td style="width: 140px; padding-top: 20px ! important;">
                                            <select name="DropDownList1" id="DropDownList1" class="inputTextbox" title="Select your state" style="width:135px;" autocomplete="off">
                                                <option value="-1">Select</option>
                                                <option value="-1">------ STATES OF USA --------</option>
                                                <option value="AK">ALASKA</option>
                                                <option value="AL">ALABAMA</option>
                                                <option value="AR">ARKANSAS</option>
                                                <option value="AZ">ARIZONA</option>
                                                <option value="CA">CALIFORNIA</option>
                                                <option value="CO">COLORADO</option>
                                                <option value="CT">CONNECTICUT</option>
                                                <option value="DC">DISTRICT OF COLUMBIA</option>
                                                <option value="DE">DELAWARE</option>
                                                <option value="FL">FLORIDA</option>
                                                <option value="GA">GEORGIA</option>
                                                <option value="HI">HAWAII</option>
                                                <option value="IA">IOWA</option>
                                                <option value="ID">IDAHO</option>
                                                <option value="IL">ILLINOIS</option>
                                                <option value="IN">INDIANA</option>
                                                <option value="KS">KANSAS</option>
                                                <option value="KY">KENTUCKY</option>
                                                <option value="LA">LOUISIANA</option>
                                                <option value="MA">MASSACHUSETTS</option>
                                                <option value="MD">MARYLAND</option>
                                                <option value="ME">MAINE</option>
                                                <option value="MI">MICHIGAN</option>
                                                <option value="MN">MINNESOTA</option>
                                                <option value="MO">MISSOURI</option>
                                                <option value="MS">MISSISSIPPI</option>
                                                <option value="MT">MONTANA</option>
                                                <option value="NE">NEBRASKA</option>
                                                <option value="NC">NORTH CAROLINA</option>
                                                <option value="ND">NORTH DAKOTA</option>
                                                <option value="NH">NEW HAMPSHIRE</option>
                                                <option value="NJ">NEW JERSEY</option>
                                                <option value="NM">NEW MEXICO</option>
                                                <option value="NY">NEW YORK</option>
                                                <option selected="selected" value="NV">NEVADA</option>
                                                <option value="OH">OHIO</option>
                                                <option value="OK">OKLAHOMA</option>
                                                <option value="OR">OREGON</option>
                                                <option value="PA">PENNSYLVANIA</option>
                                                <option value="RI">RHODE ISLAND</option>
                                                <option value="SC">SOUTH CAROLINA</option>
                                                <option value="SD">SOUTH DAKOTA</option>
                                                <option value="TN">TENNESSEE</option>
                                                <option value="TX">TEXAS</option>
                                                <option value="UT">UTAH</option>
                                                <option value="VA">VIRGINIA</option>
                                                <option value="VT">VERMONT</option>
                                                <option value="WA">WASHINGTON</option>
                                                <option value="WI">WISCONSIN</option>
                                                <option value="WV">WEST VIRGINIA</option>
                                                <option value="WY">WYOMING</option>
                                                <option value="-1">------ STATES OF CANADA -------</option>
                                                <option value="AB">Alberta</option>
                                                <option value="BC">British Columbia </option>
                                                <option value="MB">Manitoba </option>
                                                <option value="NB">New Brunswick </option>
                                                <option value="NL">Newfoundland and Labrador </option>
                                                <option value="NT">Northwest Territories </option>
                                                <option value="NS">Nova Scotia </option>
                                                <option value="NU">Nunavut </option>
                                                <option value="ON">Ontario </option>
                                                <option value="PE">Prince Edward Island </option>
                                                <option value="QC">Quebec </option>
                                                <option value="SK">Saskatchewan </option>
                                                <option value="YT">Yukon </option>
                                                <option value="00">------- Other States -------</option>

                                            </select>
                                        </td>
                                        <td class="txtalgnrgt" style="width: 47px;">
                                            <label class="input-label required">
                                                Zip :
                                            </label>
                                        </td>
                                        <td>
                                            <input name="TextBox9" type="text" maxlength="10" id="TextBox9" class="tooltip zip_us calWidth" placeholder="xxxxx-xxxx or xxxxx" title="Enter valid Zip eg: XXXXX-XXXX or XXXXX" style="width:127px;" autocomplete="off">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">
                                            <table class="tblApplReqForm5" style="margin-top: -7px;">
                                                <tr>
                                                    <td class="txtalgnrgt" style="width: 110px;">
                                                        <label class="input-label required">
                                                            Phone :
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <input name="TextBox10" type="text" id="TextBox10" class="inputTextbox NewAppPersonalTxtbx phone_us" style="width:135px;" autocomplete="off" maxlength="14">
                                                        <span style="margin-left: 5px;"><input id="CheckBox58" type="checkbox" name="CheckBox58"><label for="CheckBox58">Mobile</label></span>
                                                    </td>
                                                    <td class="txtalgnrgt" style="width: 143px;">
                                                        <label class="input-label">
                                                            Website :
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <input name="TextBox11" type="text" id="TextBox11" class="inputTextbox NewAppPersonalTxtbx" placeholder="www.websitename.com" autocomplete="off">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="txtalgnrgt">
                                                        <label class="input-label required">
                                                            Email :
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <input name="TextBox12" type="text" id="TextBox12" class="inputTextbox NewAppPersonalTxtbx" placeholder="joe@email.com" autocomplete="off">
                                                    </td>
                                                    <td class="txtalgnrgt"></td>
                                                    <td>
                                                        <div id="div26" style="width: 100%; float: right;">
                                                            <span class="fltrt">
                                                                <input type="submit" name="Button20" value="Verify Address" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;Button20&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="Button20" class="btn-success btn-xs">
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table>
                                    <tr>
                                        <td class="txtalgnrgt" style="width: 315px;"></td>
                                        <td></td>
                                        <td class="txtalgnrgt" colspan="3">
                                            <label class="input-label required">
                                                Approximate Date Associated :
                                            </label>
                                        </td>
                                        <td style="width: 151px; padding-top: 20px ! important;">
                                            <input name="txtApproxDateAssociate" type="text" id="txtApproxDateAssociate" class="inputTextbox calender hasDatepicker" placeholder="MM/DD/YYYY" style="width:133px;" autocomplete="off" maxlength="10">
                                        </td>

                                    </tr>
                                </table>

                                <div class="toolBar AfterApproved" style="padding: 4px; margin: 4px;">
                                    <span class="fltrt">
                                        <input type="submit" name="btnSaveRelatedSchool" value="Save" id="btnSaveRelatedSchool" class="buttonGreen medium">
                                        <a id="lnkCancelRelatedSchool" class="secondary medium bottom buttonalignment">Cancel</a>
                                    </span>
                                </div>
                            </div>

                            <div id="divBtnAddNewRelatedSchools" class="divLicenseInfon divaddnew">
                                <span style="float: right; margin-right: 10px;" class="AfterApproved">
                                    <input type="submit" name="btnAddNewRelatedSchools" value="Add" id="btnAddNewRelatedSchools" class="buttonGreen small">
                                </span>
                            </div>

                            <div>
                                <div>
                                    <table class="index table_design marignfix  grid" cellspacing="0" cellpadding="5" id="gvRelatedSchool" style="color:#333333;width:100%;border-collapse:collapse;">
                                        <tr>
                                            <th scope="col">School Name</th>
                                            <th scope="col">School Phone</th>
                                            <th scope="col">City</th>
                                            <th scope="col">State</th>
                                            <th class="aligncenter" scope="col">Zip</th>
                                            <th class="aligncenter" scope="col">Action</th>
                                        </tr>
                                    </table>

                                    @*This will be displayed on click of Edit Icon from the grid gvRelatedSchool*@
                                    @* ------ start ------ *@
                                    <table>
                                        <tr class="RowInEditMode">
                                            <td colspan="6">
                                                <div id="MassageTrainingandEducationUp2">
                                                    <div>
                                                        <table class="grid-heading">
                                                            <tr>
                                                                <td style="width: 168px;">
                                                                    <span id="lblBusinessName1">name from db</span>
                                                                </td>
                                                                <td style="width: 144px; text-align: center;">
                                                                    <span id="lblBusinessPhone1">number from db</span>
                                                                </td>
                                                                <td style="width: 171px; text-align: center;">
                                                                    <span id="lblSacramento">city from db</span>
                                                                </td>
                                                                <td style="width: 66px; text-align: center;">
                                                                    <span id="lblState1">state from db</span>
                                                                </td>
                                                                <td>
                                                                    <span id="lblZip1">zip from db</span>
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="divGridEdit">
                                                        <p class="addNewDiv">
                                                            <span>School Information</span>
                                                        </p>
                                                        <table class="tblApplReqForm5" style="margin: 0 auto;">
                                                            <tr>
                                                                <td colspan="6">
                                                                    <table class="tblApplReqForm5" style="margin-top: -7px;">
                                                                        <tr>
                                                                            <td class="txtalgnrgt" style="width: 145px;">
                                                                                <label class="input-label">
                                                                                    School Name :
                                                                                </label>
                                                                            </td>
                                                                            <td>
                                                                                <input name="txtRelatedSchoolBusinessNameEdit" type="text" value="" id="txtRelatedSchoolBusinessNameEdit" class="inputTextbox workinfo NewAppPersonalTxtbx" autocomplete="off">
                                                                            </td>
                                                                            <td class="txtalgnrgt" style="width: 168px;">
                                                                                <label class="input-label">
                                                                                    Primary School Contact :
                                                                                </label>
                                                                            </td>
                                                                            <td>
                                                                                <input name="txtRelatedSchoolBusinessContactEdit" type="text" id="txtRelatedSchoolBusinessContactEdit" class="inputTextbox phone_us" style="width: 147px;" autocomplete="off" maxlength="14">
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="vertical-align: middle; width: 144px;" class="txtalgnrgt">
                                                                    <label class="input-label required">
                                                                        Street :
                                                                    </label>
                                                                </td>
                                                                <td colspan="5">
                                                                    <input name="txtRelatedSchoolStreet1Edit" type="text" value="626 Humboldt Street" maxlength="500" id="txtRelatedSchoolStreet1Edit" class="calWidth us_street" style="width:465px;" autocomplete="off">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td colspan="5">
                                                                    <input name="txtRelatedSchoolStreet2Edit" type="text" maxlength="500" id="txtRelatedSchoolStreet2Edit" class="calWidth us_street" style="width:465px;" autocomplete="off">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="txtalgnrgt">
                                                                    <label class="input-label required">
                                                                        City :
                                                                    </label>
                                                                </td>
                                                                <td style="width: 151px;">
                                                                    <input name="txtRelatedSchoolCityEdit" type="text" value="EMERYVILLE" maxlength="500" id="txtRelatedSchoolCityEdit" class="tooltip OnlyAlphabet calWidth" title="Only A-Z characters are allowed." style="width:133px;" autocomplete="off">
                                                                </td>
                                                                <td class="txtalgnrgt" style="width: 52px;">
                                                                    <label class="input-label required">
                                                                        State :
                                                                    </label>
                                                                </td>
                                                                <td style="width: 125px;">
                                                                    <select name="ddlRelatedSchoolStateEdit" id="ddlRelatedSchoolStateEdit" class="inputTextbox" title="Select your state" style="width:120px;" autocomplete="off">
                                                                        <option value="-1">Select</option>
                                                                        <option value="-1">------ STATES OF USA --------</option>
                                                                        <option value="AK">ALASKA</option>
                                                                        <option value="AL">ALABAMA</option>
                                                                        <option value="AR">ARKANSAS</option>
                                                                        <option value="AZ">ARIZONA</option>
                                                                        <option selected="selected" value="CA">CALIFORNIA</option>
                                                                        <option value="CO">COLORADO</option>
                                                                        <option value="CT">CONNECTICUT</option>
                                                                        <option value="DC">DISTRICT OF COLUMBIA</option>
                                                                        <option value="DE">DELAWARE</option>
                                                                        <option value="FL">FLORIDA</option>
                                                                        <option value="GA">GEORGIA</option>
                                                                        <option value="HI">HAWAII</option>
                                                                        <option value="IA">IOWA</option>
                                                                        <option value="ID">IDAHO</option>
                                                                        <option value="IL">ILLINOIS</option>
                                                                        <option value="IN">INDIANA</option>
                                                                        <option value="KS">KANSAS</option>
                                                                        <option value="KY">KENTUCKY</option>
                                                                        <option value="LA">LOUISIANA</option>
                                                                        <option value="MA">MASSACHUSETTS</option>
                                                                        <option value="MD">MARYLAND</option>
                                                                        <option value="ME">MAINE</option>
                                                                        <option value="MI">MICHIGAN</option>
                                                                        <option value="MN">MINNESOTA</option>
                                                                        <option value="MO">MISSOURI</option>
                                                                        <option value="MS">MISSISSIPPI</option>
                                                                        <option value="MT">MONTANA</option>
                                                                        <option value="NE">NEBRASKA</option>
                                                                        <option value="NC">NORTH CAROLINA</option>
                                                                        <option value="ND">NORTH DAKOTA</option>
                                                                        <option value="NH">NEW HAMPSHIRE</option>
                                                                        <option value="NJ">NEW JERSEY</option>
                                                                        <option value="NM">NEW MEXICO</option>
                                                                        <option value="NY">NEW YORK</option>
                                                                        <option value="NV">NEVADA</option>
                                                                        <option value="OH">OHIO</option>
                                                                        <option value="OK">OKLAHOMA</option>
                                                                        <option value="OR">OREGON</option>
                                                                        <option value="PA">PENNSYLVANIA</option>
                                                                        <option value="RI">RHODE ISLAND</option>
                                                                        <option value="SC">SOUTH CAROLINA</option>
                                                                        <option value="SD">SOUTH DAKOTA</option>
                                                                        <option value="TN">TENNESSEE</option>
                                                                        <option value="TX">TEXAS</option>
                                                                        <option value="UT">UTAH</option>
                                                                        <option value="VA">VIRGINIA</option>
                                                                        <option value="VT">VERMONT</option>
                                                                        <option value="WA">WASHINGTON</option>
                                                                        <option value="WI">WISCONSIN</option>
                                                                        <option value="WV">WEST VIRGINIA</option>
                                                                        <option value="WY">WYOMING</option>
                                                                        <option value="-1">------ STATES OF CANADA -------</option>
                                                                        <option value="AB">Alberta</option>
                                                                        <option value="BC">British Columbia </option>
                                                                        <option value="MB">Manitoba </option>
                                                                        <option value="NB">New Brunswick </option>
                                                                        <option value="NL">Newfoundland and Labrador </option>
                                                                        <option value="NT">Northwest Territories </option>
                                                                        <option value="NS">Nova Scotia </option>
                                                                        <option value="NU">Nunavut </option>
                                                                        <option value="ON">Ontario </option>
                                                                        <option value="PE">Prince Edward Island </option>
                                                                        <option value="QC">Quebec </option>
                                                                        <option value="SK">Saskatchewan </option>
                                                                        <option value="YT">Yukon </option>
                                                                        <option value="00">------- Other States -------</option>

                                                                    </select>
                                                                </td>
                                                                <td class="txtalgnrgt" style="width: 47px;">
                                                                    <label class="input-label required">
                                                                        Zip :
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <input name="txtRelatedSchoolZipEdit" type="text" value="96151" maxlength="10" id="txtRelatedSchoolZipEdit" class="tooltip zip_us calWidth" placeholder="xxxxx-xxxx or xxxxx" title="Enter valid Zip eg: XXXXX-XXXX or XXXXX" style="width:91px;" autocomplete="off">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="6">
                                                                    <table class="tblApplReqForm5" style="margin-top: -7px;">
                                                                        <tr>
                                                                            <td class="txtalgnrgt" style="width: 145px;">
                                                                                <label class="input-label">
                                                                                    School Phone :
                                                                                </label>
                                                                            </td>
                                                                            <td>
                                                                                <input name="txtRelatedSchoolBusinessPhoneEdit" type="text" value="(530) 542-0604" id="txtRelatedSchoolBusinessPhoneEdit" class="inputTextbox workinfo NewAppPersonalTxtbx phone_us" autocomplete="off" maxlength="14">
                                                                            </td>
                                                                            <td class="txtalgnrgt" style="width: 149px;">
                                                                                <label class="input-label">
                                                                                    School Website :
                                                                                </label>
                                                                            </td>
                                                                            <td>
                                                                                <input name="txtRelatedSchoolBusinessWebsiteEdit" type="text" id="txtRelatedSchoolBusinessWebsiteEdit" class="inputTextbox workinfo NewAppPersonalTxtbx" placeholder="www.websitename.com" autocomplete="off">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="txtalgnrgt">
                                                                                <label class="input-label">
                                                                                    School Email :
                                                                                </label>
                                                                            </td>
                                                                            <td>
                                                                                <input name="txtRelatedSchoolBusinessEmailEdit" type="text" id="txtRelatedSchoolBusinessEmailEdit" class="inputTextbox NewAppPersonalTxtbx" placeholder="joe@email.com" autocomplete="off">
                                                                            </td>

                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <div class="clear">
                                                        </div>

                                                        <div class="toolBar AfterApproved" style="padding: 4px; margin: 4px;">
                                                            <span class="fltrt">
                                                                <input type="submit" name="btnRelatedSchoolUpdate" value="Update" id="btnRelatedSchoolUpdate" class="buttonGreen medium">
                                                                <a id="lnkRelatedSchoolCancelUpdate" class="secondary medium bottom buttonalignment">Cancel</a>
                                                            </span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    @* ------- end ------- *@
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                <table style="margin-bottom: 15px; margin-top: 15px;">
                    <tr>
                        <td style="width: 100%; line-height: 20px;">
                            <b>16. Other Program(s)</b>
                            <p style="padding-left: 21px; padding-top: 5px;">If this school offers educational program(s) other than massage, please list.</p>
                        </td>
                    </tr>
                </table>

                <table style="width: 95%; margin-top: 10px; margin-left: 50px; margin-bottom: 5px;">
                    <tr>
                        <td class="6">
                            <table class="wdtmarauto">
                                <tbody>
                                    <tr>
                                        <td class="txtalgnrgt tdwidth1" style="width: 180px !important; padding-bottom: 10px;">
                                            <label class="input-label">
                                                Other Program Name :
                                            </label>
                                        </td>
                                        <td>
                                            <input name="txtOtherProgramNameEdit" type="text" maxlength="150" id="txtOtherProgramNameEdit" class="tooltip OnlyAlphabet inputTextbox NewAppPersonalTxtbx" title="Only A-Z characters are allowed." style="width: 290px;" autocomplete="off">
                                            <span class="AfterApproved">
                                                <input type="submit" name="btnSaveOtProgName" value="Add" id="btnSaveOtProgName" class="buttonGreen small">
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="wdtmarauto">
                                <tr>
                                    <td class="grid-header-other-name">
                                        <table class="index table_design grid" border="1" cellspacing="0" cellpadding="5" id="tblothername" style="width: 486px; margin-left: 48px;">
                                            <tr>
                                                <th style="padding-left: 5px !important; padding-top: 0px !important;">
                                                    Other Program Name
                                                </th>
                                                <th style="padding-left: 0px; text-align: center;">
                                                    Action
                                                </th>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </fieldset>

            <fieldset class="flsNewApplReqForm flsNewApplReqForm3" style="text-align: justify;">
                <table style="margin-top: 15px; float: left; width: 100%;">
                    <tr>
                        <td><b>17. Facility</b></td>
                    </tr>
                </table>
            </fieldset>

            <div id="dvAboutFacilityUpSection" class="dvdecorate">

                <div id="fuAboutSchool8_upDoc">
                    @*Document File Upload Partial View -> Type :: Simple*@
                    @*docId = "12";
                        docCode = "D1012";
                        isSimple = true;*@
                </div>

                <br>

                <div id="fuAboutSchool9_upDoc">
                    @*Document File Upload Partial View -> Type :: Complex*@
                    @*docId = "13";
                        docCode = "D1013";
                        isSimple = false;*@
                </div>

                <br>

                <div id="fuAboutSchool10_upDoc">
                    @*Document File Upload Partial View -> Type :: Simple*@
                    @*docId = "14";
                        docCode = "D1014";
                        isSimple = true;*@
                </div>

                <br>

                <div id="fuAboutSchool11_upDoc">
                    @*Document File Upload Partial View -> Type :: Simple*@
                    @*docId = "15";
                        docCode = "D1015";
                        isSimple = true;*@
                </div>

                <br>

                <div id="fuAboutSchool12_upDoc">
                    @*Document File Upload Partial View -> Type :: Simple*@
                    @*docId = "16";
                        docCode = "D1016";
                        isSimple = true;*@
                </div>

                <br>

                <div id="fuAboutSchool13_upDoc">
                    @*Document File Upload Partial View -> Type :: Simple*@
                    @*docId = "17";
                        docCode = "D1017";
                        isSimple = true;*@
                </div>

                <br>

                <div id="fuAboutSchool14_upDoc">
                    @*Document File Upload Partial View -> Type :: Complex*@
                    @*docId = "18";
                        docCode = "D1018";
                        isSimple = false;*@
                </div>

                <br>
                <div class="toolBar AfterApproved" style="padding: 4px; margin: 4px 4px 4px 30px; width: 91%;">
                    <span class="fltrt">
                        <input type="submit" name="btnSaveAboutFacility" value="Save" id="btnSaveAboutFacility" class="buttonGreen medium">
                        <a id="lblCancelAboutFacility" class="secondary medium bottom buttonalignment">Cancel</a>
                    </span>
                </div>
            </div>

            <table style="margin-left:20px; margin-top: 15px; float: left; width: 100%;">
                <tbody>
                    <tr>
                        <td>
                            <b>18. Advertising</b>
                            <p style="margin-left:20px;">Please provide copies of <u>all</u> advertising.</p>
                        </td>

                    </tr>

                </tbody>
            </table>
            <div id="dvAboutAdvertisingUpSection" class="dvdecorate">


                <table class="wthtop20" style="width: 99%; margin-left:5px">

                    <tbody>
                        <tr>
                            <td class="txtalgnrgt">
                                <label class="input-label required">
                                    Document Name :
                                </label>
                            </td>
                            <td>
                                <input name="txtDocNameAboutAdvertising" type="text" id="txtDocNameAboutAdvertising" autocomplete="off">
                            </td>
                            <td class="txtalgnrgt">
                                <label class="input-label required">
                                    Document Type :
                                </label>
                            </td>
                            <td>
                                <select name="ddlOwnAboutAdvertising" id="ddlOwnAboutAdvertising" class="inputTextbox" autocomplete="off">
                                    <option selected="selected" value="-1">Select</option>
                                    <option value="1">Online Advertisement/Marketing</option>
                                    <option value="2"> Print Advertisement/Marketing</option>

                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="txtalgnrgt">
                                <label class="input-label required">
                                    Document :
                                </label>
                            </td>
                            <td>
                                <input type="file" name="DocFUAboutAdvertising" id="DocFUAboutAdvertising">
                            </td>
                            <td colspan="3">
                                <input type="submit" name="btnUploadAboutAdvertising" value="Upload" id="btnUploadAboutAdvertising" class="buttonGreen small" style="margin-left: 10px;">
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <div class="toolBar AfterApproved" style="padding: 4px; margin: 4px; display: none;">
                    <span class="fltrt">
                        <input type="submit" name="btnSaveAboutAdvertising" value="Save" id="btnSaveAboutAdvertising" class="buttonGreen medium">
                        <a id="lblCancelAboutAdvertising" class="secondary medium bottom buttonalignment">Cancel</a>
                    </span>
                </div>

            </div>


            <div class="toolBar AfterApproved" style="padding: 4px; margin: 4px;">
                <span class="fltrt">
                    <input type="submit" name="btnLicInfoNext" value="Save &amp; Next" id="btnLicInfoNext" class="buttonGreen medium">
                    <a id="lnkCancelLiceInfo" class="secondary medium bottom buttonalignment">Cancel</a>
                </span>
            </div>
        </div>
    </div>
</div>
