<div class="dashboard-block-right-bottom dashboard-border">
    <div class="dashboard-block-header">
        Additional Online Services
    </div>
    <div>
        <table class="additionl-links" style="margin: 5px; line-height: 20px;">
            <tr>
                <td>
                    <a href="#" class="hyperlink">Additional Certificate</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="hyperlink">ID Card</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="hyperlink">Name Change</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="hyperlink">Hearing File Fee</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="hyperlink">Upgrade</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="hyperlink">Certification Seals: CCMP, CMP and CMT</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="hyperlink">Out of State Verification</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="hyperlink">Reprint Certificate</a>
                </td>
            </tr>

            <tr>
                <td>
                    <a style="cursor:pointer;" onclick="divAddDoc();" class="hyperlink">Upload Documents to CAMTC</a>
                </td>
            </tr>
        </table>
    </div>
</div>
