<div class="dashboard-block-right-bottom dashboard-border">
    <div class="dashboard-block-header">
        Deficiency Detail
    </div>
    <table class="AppDetailsHeader">
        <tr>
            <td style="padding-left: 8px;">
                <b>Deficiency Name</b>
            </td>
            <td style="width: 81px;">
                <b>Date</b>
            </td>
        </tr>
    </table>
    <div class="overflowscrollPaymentDetail">
        <table style="width: 100%;">
            <tr>
                <td style="padding-left: 8px;">
                    Photo
                </td>
                <td style="width: 81px;">
                    01/01/2015
                </td>
            </tr>
        </table>
    </div>
</div>
