<div class="dashboard-block" style="border: 1px solid #FF1942;">
    <div class="dashboard-block-header" style="padding: 6px 10px 10px 5px; background: #DB3B35;">
        Denial / Disciplinary Process
    </div>
    <div>
        <table>
            <tr>
                <td style="color: red; padding-left: 10px;">03/17/2016</td>
                <td style="padding-left: 30px; color: red;"><a href="" style="color:red !important; text-decoration:underline;">Proposed Suspension Letter</a></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="4" style="padding-top: 2px; padding-bottom: 10px;">
                    <b style="color:red; padding-left:10px;">YOU MUST REQUEST AN <a style="color:blue !important;text-decoration:underline;">Oral Hearing</a> OR A <a style="color:blue !important;">Consideration of Written Statement </a> BY 04/03/2016.</b>
                </td>
            </tr>
            <tr>
                <td style="color: red; padding-left: 10px;">04/12/2016</td>
                <td style="padding-left: 30px; color: red;">
                    Date of Suspension based on law &nbsp; <span style="padding-left: 60px;">
                        @*<asp:CheckBox ID="CheckBox1" runat="server" /> Request Reinstatement*@
                        @Html.CheckBox("CheckBox1", false)<span>Request Reinstatement</span>
                    </span>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="color: red; padding-left: 10px;">
                    03/29/2016
                </td>
                <td style="padding-left: 30px; color: red;">Last day to request an <a style="color:blue;text-decoration:underline;" href="">Oral Hearing</a> or <a href="" style="color:blue;text-decoration:underline;">Consideration of Written Statement</a></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td style="color: red; padding-left: 10px;">04/01/2016</td>
                <td style="padding-left: 30px; color: red;">Last day to <a href="" style="color:blue;text-decoration:underline;"> Upload Documents in Opposition</a></td>
            </tr>
            <tr>
                <td style="color: red; padding-left: 10px;">04/02/2016</td>
                <td style="padding-left: 30px; color: red;">Last day to <a href="" style="color:blue;text-decoration:underline;"> Pay Hearing Fees</a></td>
            </tr>
            <tr>
                <td style="padding-top: 10px;padding-left: 10px; color:red;" colspan="4">
                    04/12/2016 &nbsp;&nbsp;&nbsp; 09:30 am&nbsp;&nbsp;&nbsp;   Hearing Date & Time
                </td>

            </tr>
            <tr>
                <td style="color: red; padding-left: 10px;">123456789</td>
                <td style="padding-left: 30px; color: red;">Hearing Pass Code</td>

            </tr>

            <tr>
                <td colspan="4" style="padding-top:20px; padding-bottom:20px; padding-left: 10px;"><a href="" style="color:blue; text-decoration:underline;">Secure Communication with CAMTC</a></td>
            </tr>
        </table>
    </div>
</div>
