<div class="dashboard-block-right-bottom dashboard-border">
    <div class="dashboard-block-header">
        Payment Detail
    </div>
    <table class="AppDetailsHeader">
        <tr>
            <td style="width: 130px; padding-left: 8px;">
                <b>Application Type</b>
            </td>
            <td style="width: 62px;">
                <b>Amount</b>
            </td>
            <td style="width: 50px;">
                <b>Date</b>
            </td>
            <td style="width: 50px;">
                <b>Status</b>
            </td>
            <td style="width: 40px;"></td>
        </tr>
    </table>
    <div class="overflowscrollPaymentDetail">
        <table style="width: 100%;">
            <tr>
                <td style="width: 130px; padding-left: 8px;">
                    Certification Application
                </td>
                <td style="width: 55px;">
                    $150.00
                </td>
                <td style="width: 50px;">
                    01/01/2015
                </td>
                <td style="width: 50px;">
                    Paid
                </td>
                <td style="width: 40px;">
                    <a href="#" class="hyperlink">Print</a>
                </td>
            </tr>
        </table>
    </div>
</div>
