<div class="dashboard-block dashboard-border">
    <div class="dashboard-block-header">
        Status
    </div>
    <div>
        <div class="divGrid" style="margin: 5px 5px 5px 5px;">
            <div>
                <ul class="status-list">
                    <li>
                        <div class="status orange-bg">
                            In Progress
                        </div>
                    </li>
                    <li>
                        <div class="status green-bg">
                            Submitted
                        </div>
                    </li>
                    <li>
                        <div class="status orange-bg">
                            In Review
                        </div>
                    </li>
                    <li>
                        <div class="status orange-bg">
                            Decision
                        </div>
                    </li>
                </ul>
            </div>
            <div style="line-height: 47px; text-align: center;">
                <p>
                    These of Status when clicked on any of the status box.
                </p>
            </div>
        </div>
    </div>
</div>
