<div id="pnlApplicatinInstructions">

    <div id="upInstruction">

        <div>
            <div>
                <div class="sectionDiv">
                    <span>APPLICATION INSTRUCTIONS</span>
                </div>
                <fieldset class="flsLiveScanApp flsLiveScanApp1">

                    <table class="tblLiveScanApp tblLiveScanApp1" width="100%">
                        <tbody>
                            <tr>
                                <td style="width: 16px;">
                                    <b>1.</b>
                                </td>
                                <td style="width: 480px; padding-left: 0px;">
                                    <b>
                                        Have you read ALL of the
                                        <a id="lnkQues1" class="hyperlink" href="javascript:__doPostBack('lnkQues1','')">
                                            Application Instructions?
                                        </a>
                                    </b>
                                </td>
                                <td align="left" class="cursorpointer">
                                    <b>
                                        <table id="rblQuestionEdit1" class="aspNetDisabled">
                                            <tbody>
                                                <tr>
                                                    <td><span class="aspNetDisabled"><input id="rblQuestionEdit1_0" type="radio" name="rblQuestionEdit1" value="1" disabled="disabled" onclick="javascript:setTimeout('__doPostBack(\'rblQuestionEdit1$0\',\'\')', 0)"><label for="rblQuestionEdit1_0">Yes</label></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="2">
                                    <p style="font-size: 13px;">
                                        (The Yes button is enabled only after you have clicked on the Application Instruction link above and read the instructions.)
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>2.</b>
                                </td>
                                <td style="padding-left: 0px;">
                                    <b>Do you understand the qualiﬁcations for Massage Therapist Certification?</b>
                                </td>
                                <td class="cursorpointer">
                                    <b>
                                        <table id="rblQuestionEdit2" class="aspNetDisabled">
                                            <tbody>
                                                <tr>
                                                    <td><span class="aspNetDisabled"><input id="rblQuestionEdit2_0" type="radio" name="rblQuestionEdit2" value="1" disabled="disabled" onclick="javascript:setTimeout('__doPostBack(\'rblQuestionEdit2$0\',\'\')', 0)"><label for="rblQuestionEdit2_0">Yes</label></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </b>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="font-size: 13px; margin-top: 15px;">
                        Please remember that providing incomplete or misleading information to the California Massage Therapy Council ("CAMTC") may result in processing delays, denial of your application, revocation of your certificate, or additional processing fees.
                    </p>
                </fieldset>
            </div>
            &nbsp;<div class="toolBar AfterApproved" style="padding: 4px; margin: 4px;">
                <span class="fltrt">
                    <input type="submit" name="btnApplicationStatus" value="Save &amp; Next" id="btnApplicationStatus" class="buttonGreen medium aspNetDisabled">
                    <a id="lnkApplicationStatusCancel" class="secondary medium bottom buttonalignment" href="javascript:__doPostBack('lnkApplicationStatusCancel','')">Cancel</a>
                </span>
            </div>
        </div>

    </div>

</div>
