<div id="pnlChecklist">

    <div id="UpdatePayment">

        <div id="pnlApprovedAffidavit">

            <div>
                <div class="sectionDiv">
                    <span>Checklist</span>
                </div>

                <div class="clear">
                </div>
                <fieldset class="flsNewApplReqForm flsAffidavit">
                    <p>
                        Items 1 - 5 are required from <u>ALL applicants. </u>Items 6 may be required by some applicants (please see instructions).
                    </p>
                    <div>
                        <ul style="list-style-type: decimal;" class="cursorpointer mrglft4">

                            <li>
                                <input id="CheckBox2" type="checkbox" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$CheckBox2"><label for="CheckBox2">PHOTO. Recent Passport Photo (less than 60 days old) uploaded with the application.</label>
                            </li>
                            <li>
                                <input id="CheckBox3" type="checkbox" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$CheckBox3"><label for="CheckBox3">
                                    DRIVER'S LlCENSE OR GOVERNMENT ISSUED IDENTIFICATION. Legible copy of your current, valid Driver's License
                                    or Government Issued Identification, uploaded with the application.
                                </label>
                            </li>
                            <li>
                                <input id="CheckBox4" type="checkbox" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$CheckBox4"><label for="CheckBox4">
                                    FEE. Online credit card payment (check or money order accepted—made out and mailed to ‘CAMTC’) of $150.00 (plus
                                    an additional $15 for EACH additional original certificate requested).
                                </label>
                            </li>
                            <li>
                                <input id="CheckBox5" type="checkbox" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$CheckBox5"><label for="CheckBox5">TRANSCRIPTS. Official School Transcripts sent directly from your school(s) to CAMTC.</label>
                            </li>
                            <li>
                                <input id="CheckBox6" type="checkbox" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$CheckBox6"><label for="CheckBox6">FINGERPRINTS. Live Scan Fingerprints - please see instructions (additional fees apply).</label>
                            </li>
                            <li>
                                <input id="CheckBox7" type="checkbox" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$CheckBox7"><label for="CheckBox7">
                                    DOCUMENTATION. Supporting Documentation uploaded with the application as needed for questions 16, 25, 26, 27, 28,
                                    and 29.
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <div>
                            <p style="text-align: justify;">
                                All applications, supporting documentation and credit card payments may be submitted online for immediate processing. If you prefer, you may mail this application including photocopy of Driver’s License or Government issued identification, check or money order for all fees and any supporting documentation to :
                            </p>
                        </div>
                        <div>
                            <p style="text-align: center;">
                                <b>
                                    California Massage Therapy Council
                                    <br>
                                    One Capitol Mall, Suite 800
                                    <br>
                                    Sacramento, CA 95814
                                </b>
                            </p>
                        </div>
                        <div>
                            <p style="text-align: justify;">
                                NOTE: Your Live Scan Fingerprint results will be forwarded automatically to the CAMTC after you complete the Live Scan Fingerprint process - please see instructions.
                            </p>
                        </div>
                    </div>
                </fieldset>
                <br>
            </div>
            <div class="toolBar AfterApproved" style="padding: 4px; margin: 4px;">


                <span class="fltrt" style="">
                    <input type="submit" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$Button7" value="Save as PDF" id="Button7" class="buttonGreen medium">
                    <input type="submit" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$btnSubmit" value="Submit" id="btnSubmit" class="buttonGreen medium">
                    <a id="lnkNextSaveChecklist" class="secondary medium bottom buttonalignment" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$ucCertificationApplication1$lnkNextSaveChecklist','')">Cancel</a>
                </span>
            </div>

        </div>

    </div>

</div>