<div id="pnlSection7">

    <div id="upAppScQues">

        <div class="sectionDiv">
            <span>APPLICANT AFFIDAVIT RECORD RELEASE</span>
        </div>
        <fieldset class="flsNewApplReqForm flsCharacterReferences">
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 600px; padding-left: 8px; line-height: 20px; text-align: justify;">
                            <p style="padding-bottom: 10px;">
                                <label class="input-label required">
                                    I,
                                </label>
                                <input name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$txtAffidavitApplicantName" type="text" value="Nancy Blachly" id="txtAffidavitApplicantName" autocomplete="off">
                                ("the Applicant"), affirm that I am the person referred to in the foregoing CAMTC
                                Certiﬁcation Application, and that the <b>
                                    attached passport photograph is less than
                                    sixty (60) days old
                                </b> and is a true likeness of myself.
                            </p>
                        </td>
                        <td align="right" style="width: 50px; vertical-align: middle;" class="cursorpointer">
                            <input id="AffQ1" type="checkbox" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ1" checked="checked" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ1\',\'\')', 0)"><label for="AffQ1">Yes</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 8px; line-height: 20px; text-align: justify;">
                            <p style="padding-bottom: 10px;">
                                I further affirm that I am in good health and not suffering from any mental or physical
                                health condition that might affect my own personal health and safety in performing
                                Massage Therapy, or that might affect the personal health and safety of my Massage
                                Therapy clients.
                            </p>
                        </td>
                        <td align="right" style="vertical-align: middle;" class="cursorpointer">
                            <input id="AffQ2" type="checkbox" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ2" checked="checked" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ2\',\'\')', 0)"><label for="AffQ2">Yes</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 8px; line-height: 20px; text-align: justify;">
                            <p style="padding-bottom: 10px;">
                                I understand that it is my duty and responsibility as an Applicant for CAMTC Certification
                                per CA Business and Professions Code section 4600 et. seq. to fully disclose all
                                requested information and to supplement and/or update my Application after it has
                                been submitted and to update my information and notify CAMTC when I am a certificate
                                holder, if and when any change in circumstances or conditions occur which might
                                affect CAMTC's decision concerning my eligibility for Certification. I understand
                                that if I am charged with Penal Code section 647(b)- Prostitution, or any act punishable
                                as a sexually related crime, or required to register as a sex offender in California
                                or another state, I am required to immediately notify CAMTC of the fact that these
                                charges have been filed against me, and if/when I have been convicted of these or
                                any other offenses. Failure to supplement and/or update my Application or update
                                my information with CAMTC when I am a certificate holder may result in disciplinary
                                action by CAMTC against me, including but not limited to denial of my Application
                                or revocation of my Certification.
                            </p>
                        </td>
                        <td align="right" style="vertical-align: middle;" class="cursorpointer">
                            <input id="AffQ3" type="checkbox" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ3" checked="checked" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ3\',\'\')', 0)"><label for="AffQ3">Yes</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 8px; line-height: 20px; text-align: justify;">
                            <p style="padding-bottom: 10px;">
                                I understand that it is my responsibility by law to provide CAMTC with any <b>
                                    CHANGE
                                    OF HOME ADDRESS, any CHANGE OF PRIMARY EMAIL ADDRESS, any CHANGE OF BUSINESS ADDRESS,
                                    and to notify CAMTC of additional business locations where I provide massage services
                                    for compensation <u>within 30 DAYS.</u>
                                </b>If any such change or addition,
                                and that failure to report such changes or additions in a timely manner to CAMTC,
                                may result in disciplinary action by CAMTC against me, including but not limited
                                to revocation of my Certification. I also understand that I may be required to provide
                                a copy of, or other evidence of my Certification to local cities and counties in
                                California if requested, and that l may be required to obtain a business license
                                to practice my profession unless I am a W-2 employee.
                            </p>
                        </td>
                        <td align="right" style="vertical-align: middle;" class="cursorpointer">
                            <input id="AffQ4" type="checkbox" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ4" checked="checked" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ4\',\'\')', 0)"><label for="AffQ4">Yes</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 8px; line-height: 20px; text-align: justify;">
                            <p style="padding-bottom: 10px;">
                                I understand that it is my responsibility by law to include the name under which
                                I am certiﬁed and my certificate number in any and all advertising, including but
                                not limited to business cards and websites, and I shall display an original certiﬁcate
                                at my place(s) of business.
                            </p>
                        </td>
                        <td align="right" style="vertical-align: middle;" class="cursorpointer">
                            <input id="AffQ5" type="checkbox" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ5" checked="checked" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ5\',\'\')', 0)"><label for="AffQ5">Yes</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 8px; line-height: 20px; text-align: justify;">
                            <p style="padding-bottom: 10px;">
                                I hereby authorize Law Enforcement Agencies (LEA), government agencies, and other
                                massage related entities to release my records to CAMTC upon request, and l hereby
                                authorize CAMTC to share all information about me, whether provided by me or others,
                                including personal information, with LEA, government agencies, and other massage
                                related entities upon request. (Note: we will not sell or release personal information
                                for marketing purposes.)
                            </p>
                        </td>
                        <td align="right" style="vertical-align: middle;" class="cursorpointer">
                            <input id="AffQ6" type="checkbox" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ6" checked="checked" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ6\',\'\')', 0)"><label for="AffQ6">Yes</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 8px; line-height: 20px; text-align: justify;">
                            <p style="padding-bottom: 10px;">
                                I understand and agree that CAMTC may consider applicants (and recertifications) practicing massage in an establishment that advertises in any adult and/or sexually oriented section of any form of media whether printed or digital, and applicants (and recertifications) who own a massage establishment that advertises in any adult and/or sexually oriented section of any form of media, whether printed or digital, to be engaged in unprofessional conduct. I further understand and agree that a finding of unprofessional conduct may preclude certiﬁcation or recertification.
                            </p>
                        </td>
                        <td align="right" style="vertical-align: middle;" class="cursorpointer">
                            <input id="AffQ7" type="checkbox" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ7" checked="checked" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ7\',\'\')', 0)"><label for="AffQ7">Yes</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 8px; line-height: 20px; text-align: justify;">
                            <p style="padding-bottom: 10px;">
                                I understand that if I am granted CAMTC certification, it is only for a period of two years, and it is my responsibility to submit a fully completed application for recertification and ensure that it is received by CAMTC before the expiration date listed on my certificate. I further understand that a reminder notiﬁcation may be sent to me as a courtesy, but failure to receive the reminder notiﬁcation does not waive my responsibility to submit a fully completed application for recertification and ensure that it is received before my current certiﬁcate expires. I further understand that failure to submit a fully completed application for recertification that is received by CAMTC before my certificate expires will result in a late fee of up to $90 if the application for recertiﬁcation is received by CAMTC within six (6) months of my certificate expiring. I further understand that if a fully completed application for recertification is not received by CAMTC within six (6) months of my certiﬁcate expiring, I will be required to apply for certification as a new applicant and I will have to meet all of the requirements for certification that exist at the time I request recertification. <b>I UNDERSTAND THAT UNDER NO CIRCUMSTANCES CAN THIS LATE FEE OR POLICY BE WAIVED.</b>
                            </p>
                        </td>
                        <td align="right" style="vertical-align: middle;" class="cursorpointer">
                            <input id="AffQ8" type="checkbox" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ8" checked="checked" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ8\',\'\')', 0)"><label for="AffQ8">Yes</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 8px; line-height: 20px; text-align: justify;">
                            <p style="padding-bottom: 10px;">
                                I HAVE CAREFULLY READ THE QUESTIONS IN THE FOREGOING APPLICATION AND HAVE ANSWERED
                                THEM COMPLETELY, WITHOUT RESERVATION OF ANY KIND, AND I DECLARE, UNDER PENALTY OF
                                PERJURY UNDER THE LAWS OF THE STATE OF CALIFORNIA, THAT MY ANSWERS AND ALL STATEMENTS
                                MADE BY ME HERE IN AND IN SUPPORT OF THIS APPLICATION <b>ARE COMPLETE, TRUE AND CORRECT.</b>
                                Should I furnish any false information on or in support of this Application, or
                                fail to fully provide all requested information, I understand that such action shall
                                constitute cause for denial, suspension, revocation, or action against my CAMTC
                                Certiﬁcation.
                            </p>
                        </td>
                        <td align="right" style="vertical-align: middle;" class="cursorpointer">
                            <input id="AffQ9" type="checkbox" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ9" checked="checked" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ9\',\'\')', 0)"><label for="AffQ9">Yes</label>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <div class="fltlft" style="width: 72%;">
                    <table>
                        <tbody>
                            <tr>
                                <td style="padding-left: 8px; line-height: 20px; text-align: justify;">
                                    <p style="padding-bottom: 10px;">
                                        I HAVE READ, UNDERSTAND, AND AGREE TO COMPLY WITH THE STATUTES AND RULES APPLICABLE
                                        TO THE PRACTICE OF MY PROFESSION IN CALIFORNIA.
                                    </p>
                                </td>
                                <td align="right" style="vertical-align: middle; width: 50px;" class="cursorpointer">
                                    <input id="AffQ10" type="checkbox" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ10" checked="checked" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ10\',\'\')', 0)"><label for="AffQ10">Yes</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left: 8px; line-height: 20px; text-align: justify;">
                                    <p style="padding-bottom: 10px;">
                                        I understand that my Application Fee is non-refundable regardless of the ultimate
                                        disposition of my application.
                                    </p>
                                </td>
                                <td align="right" style="vertical-align: middle;" class="cursorpointer">
                                    <input id="AffQ11" type="checkbox" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ11" checked="checked" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ11\',\'\')', 0)"><label for="AffQ11">Yes</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left: 8px; line-height: 20px; text-align: justify;">
                                    <p style="padding-bottom: 10px;">
                                        I understand that if my Application is not complete, it will be purged 1 year after
                                        the last date of activity and after a reminder to my stated email and home addresses
                                        have been sent by CAMTC. Once it is purged, I understand that I will need to start
                                        the entire process over, including paying the $150 application fee, submitting Live
                                        Scan prints, securing official transcript(s), etc.
                                    </p>
                                </td>
                                <td align="right" style="vertical-align: middle;" class="cursorpointer">
                                    <input id="AffQ12" type="checkbox" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ12" checked="checked" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ12\',\'\')', 0)"><label for="AffQ12">Yes</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="fltrt" style="width: 27%;">
                    <div>
                        <div>
                            <img id="imgProfile" alt="Image" src="../../App_Themes/Theme1/images/no_img.jpg" style="width:150px;">
                        </div>
                        <p style="font-size: 14px; padding: 4px; text-align: center;">
                            <input type="file" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$fpImageUpload" id="fpImageUpload" class="MyUpload" onchange="javascript:upload(this);" style="width: 186px;">
                            <input type="submit" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$btnPhotoUpload" value="Upload" id="btnPhotoUpload" class="buttonGreen small" style="margin-left: 5px; display: none;">
                        </p>
                        <p style="font-size: 11px; text-align: center; line-height: 15px; padding-bottom: 10px;">
                            <b>PLEASE UPLOAD YOUR 2" x 2" RECENT PASSPORT PHOTO HERE</b>
                        </p>
                    </div>
                </div>
            </div>
            <div class="clear">
            </div>
            <div>
                <table width="100%">
                    <tbody>
                        <tr>
                            <td align="right">
                                <label class="input-label required">Signature :</label>
                            </td>
                            <td>
                                <input name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffSign" type="text" id="AffSign" autocomplete="off">
                            </td>
                            <td align="right">
                                <label class="input-label required">Date :</label>
                            </td>
                            <td>
                                <input name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffDate" type="text" id="AffDate" class="calender inputTextbox hasDatepicker" placeholder="MM/DD/YYYY" autocomplete="off" maxlength="10">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <p class="cursorpointer">
                    <input id="AffQ13" type="checkbox" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ13" checked="checked" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ucCertificationApplication1$AffQ13\',\'\')', 0)"><label for="AffQ13">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</label>
                </p>
            </div>
        </fieldset>
        <div class="toolBar AfterApproved" style="padding: 4px; margin: 4px;">
            <span class="fltrt">
                <input type="submit" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$btnNextSection7" value="Save &amp; Next" id="btnNextSection7" class="buttonGreen medium">
                <a id="lnkCalcelSection7" class="secondary medium bottom buttonalignment" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$ucCertificationApplication1$lnkCalcelSection7','')">Cancel</a>
            </span>
        </div>

    </div>

</div>
