<div id="pnlChecklist">
    <div id="UpdatePayment">
        <div id="pnlApprovedAffidavit">
            <div>
                <div class="sectionDiv">
                    <span>Checklist</span>
                </div>

                <div class="clear">
                </div>
                <fieldset class="flsNewApplReqForm flsAffidavit">
                    <p>
                        Items 1 & 3 may be required by some applicants (please see instructions). Item 2 is required from <u>ALL APPLICANTS. </u>
                    </p>
                    <div>
                        <ul style="list-style-type: decimal;" class="cursorpointer mrglft4">
                            <li>
                                <input id="CheckBox2" type="checkbox" name="CheckBox2"><label for="CheckBox2">PHOTO. Recent Passport Photo (less than 60 days old) uploaded with the application.</label>
                            </li>
                            <li>
                                <input id="CheckBox4" type="checkbox" name="CheckBox4"><label for="CheckBox4">
                                    FEE. Online credit card payment (check or money order accepted—made out and mailed to ‘CAMTC’) of $150.00 (plus
                                    an additional $15 for EACH additional original certificate requested).
                                </label>
                            </li>
                            <li>
                                <input id="CheckBox7" type="checkbox" name="CheckBox7"><label for="CheckBox7">DOCUMENTATION. Supporting Documentation uploaded with the application as needed for questions 1, 2, 3, 4, 5 and 6 (of the Applicant History Section)</label>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <div>
                            <p style="text-align: justify;">
                                All applications, supporting documentation and credit card payments may be submitted online for immediate processing. If you prefer, you may mail this application including photocopy of Driver’s License or Government issued identification, check or money order for all fees and any supporting documentation to :
                            </p>
                        </div>
                        <div>
                            <p style="text-align: center;">
                                <b>
                                    California Massage Therapy Council
                                    <br>
                                    One Capitol Mall, Suite 800
                                    <br>
                                    Sacramento, CA 95814
                                </b>
                            </p>
                        </div>
                        <div>
                            <p style="text-align: justify;">
                                NOTE: Your Live Scan Fingerprint results will be forwarded automatically to the CAMTC after you complete the Live Scan Fingerprint process - please see instructions.
                            </p>
                        </div>
                    </div>
                </fieldset>
                <br>
            </div>
            <div class="toolBar AfterApproved" style="padding: 4px; margin: 4px;">
                <span class="fltrt" style="">
                    <input type="submit" name="Button7" value="Save as PDF" id="Button7" class="buttonGreen medium">
                    <input type="submit" name="btnSubmit" value="Submit" id="btnSubmit" class="buttonGreen medium">
                    <a id="lnkNextSaveChecklist" class="secondary medium bottom buttonalignment" href="javascript:__doPostBack('lnkNextSaveChecklist','')">Cancel</a>
                </span>
            </div>
        </div>
    </div>
</div>