<div id="pnlSection5">

    <div id="uppnlSection5">

        <div id="pnlApprovedSection5">

            <div>
                <div class="sectionDiv">
                    <span>Work Information</span>
                </div>
                <div id="WorkInformationValidation" class="address-box posFixed" style="display: none; color: red;"></div>
                <fieldset class="flsNewApplReqForm flsNCBTMBEI">
                    <div class="work-info-1">
                        <table class="tblApplReqForm5">
                            <tbody>
                                <tr>
                                    <td style="width: 23px;">
                                        <b>5.</b>
                                    </td>
                                    <td style="width: 545px; padding-left: 0px; line-height: 20px; text-align: justify;">
                                        <b>
                                            Please provide the following WORK INFORMATION for ALL locations where you CURRENTLY provide Massage Therapy Services and for all massage businesses you CURRENTLY own or operate.
                                        </b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="divbtnWorkInfo1" class="divLicenseInfon divaddnew" ng-show="!(isAddWork === 1)">
                            <span style="float: right; margin-right: 10px;" class="AfterApproved">
                                <input type="submit" name="btnWorkInfo1AddNew" value="Add" ng-click="isAddWork = 1" id="btnWorkInfo1AddNew" class="buttonGreen small">
                            </span>
                        </div>
                        <div id="divpnlWorkInfo1" ng-show="isAddWork === 1">
                            <table class="tblApplReqForm5">
                                <tbody>
                                    <tr>
                                        <td colspan="6">
                                            <b>Current Place of Work :</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">
                                            <table class="tblApplReqForm5">
                                                <tbody>
                                                    <tr>
                                                        <td class="txtalgnrgt" style="width: 110px;">
                                                            <label class="input-label">
                                                                Business Name :
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <input name="txtWorkInfo1BusinessName" type="text" id="txtWorkInfo1BusinessName" class="inputTextbox NewAppPersonalTxtbx" autocomplete="off">
                                                        </td>
                                                        <td class="txtalgnrgt" style="width: 168px;">
                                                            <label class="input-label">
                                                                Primary Business Contact :
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <input name="txtWorkInfo1BusinessContact" type="text" id="txtWorkInfo1BusinessContact" class="inputTextbox NewAppPersonalTxtbx phone_us" autocomplete="off" maxlength="14">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: middle; width: 111px;" class="txtalgnrgt">
                                            <label class="input-label required">
                                                Street :
                                            </label>
                                        </td>
                                        <td colspan="5">
                                            <input name="txtWorkInfoQ1Street1" type="text" maxlength="500" id="txtWorkInfoQ1Street1" class="calWidth us_street" style="width:518px;" autocomplete="off">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="5">
                                            <input name="txtWorkInfoQ1Street2" type="text" maxlength="500" id="txtWorkInfoQ1Street" class="calWidth us_street" style="width:518px;" autocomplete="off">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="txtalgnrgt">
                                            <label class="input-label required">
                                                City :
                                            </label>
                                        </td>
                                        <td style="width: 151px;">
                                            <input name="txtWorkInfoQ1City" type="text" maxlength="500" id="txtWorkInfoQ1City" class="tooltip OnlyAlphabet calWidth" title="Only A-Z characters are allowed." style="width:133px;" autocomplete="off">
                                        </td>
                                        <td class="txtalgnrgt" style="width: 52px;">
                                            <label class="input-label required">
                                                State :
                                            </label>
                                        </td>
                                        <td style="width: 140px;">
                                            <select name="ddlWorkInfoQ1State" id="ddlWorkInfoQ1State" class="inputTextbox" title="Select your state" style="width:135px;" autocomplete="off">
                                                <option value="-1">Select</option>
                                                <option value="-1">------ STATES OF USA --------</option>
                                                <option value="AK">ALASKA</option>
                                                <option value="AL">ALABAMA</option>
                                                <option value="AR">ARKANSAS</option>
                                                <option value="AZ">ARIZONA</option>
                                                <option selected="selected" value="CA">CALIFORNIA</option>
                                                <option value="CO">COLORADO</option>
                                                <option value="CT">CONNECTICUT</option>
                                                <option value="DC">DISTRICT OF COLUMBIA</option>
                                                <option value="DE">DELAWARE</option>
                                                <option value="FL">FLORIDA</option>
                                                <option value="GA">GEORGIA</option>
                                                <option value="HI">HAWAII</option>
                                                <option value="IA">IOWA</option>
                                                <option value="ID">IDAHO</option>
                                                <option value="IL">ILLINOIS</option>
                                                <option value="IN">INDIANA</option>
                                                <option value="KS">KANSAS</option>
                                                <option value="KY">KENTUCKY</option>
                                                <option value="LA">LOUISIANA</option>
                                                <option value="MA">MASSACHUSETTS</option>
                                                <option value="MD">MARYLAND</option>
                                                <option value="ME">MAINE</option>
                                                <option value="MI">MICHIGAN</option>
                                                <option value="MN">MINNESOTA</option>
                                                <option value="MO">MISSOURI</option>
                                                <option value="MS">MISSISSIPPI</option>
                                                <option value="MT">MONTANA</option>
                                                <option value="NE">NEBRASKA</option>
                                                <option value="NC">NORTH CAROLINA</option>
                                                <option value="ND">NORTH DAKOTA</option>
                                                <option value="NH">NEW HAMPSHIRE</option>
                                                <option value="NJ">NEW JERSEY</option>
                                                <option value="NM">NEW MEXICO</option>
                                                <option value="NY">NEW YORK</option>
                                                <option value="NV">NEVADA</option>
                                                <option value="OH">OHIO</option>
                                                <option value="OK">OKLAHOMA</option>
                                                <option value="OR">OREGON</option>
                                                <option value="PA">PENNSYLVANIA</option>
                                                <option value="RI">RHODE ISLAND</option>
                                                <option value="SC">SOUTH CAROLINA</option>
                                                <option value="SD">SOUTH DAKOTA</option>
                                                <option value="TN">TENNESSEE</option>
                                                <option value="TX">TEXAS</option>
                                                <option value="UT">UTAH</option>
                                                <option value="VA">VIRGINIA</option>
                                                <option value="VT">VERMONT</option>
                                                <option value="WA">WASHINGTON</option>
                                                <option value="WI">WISCONSIN</option>
                                                <option value="WV">WEST VIRGINIA</option>
                                                <option value="WY">WYOMING</option>
                                                <option value="-1">------ STATES OF CANADA -------</option>
                                                <option value="AB">Alberta</option>
                                                <option value="BC">British Columbia </option>
                                                <option value="MB">Manitoba </option>
                                                <option value="NB">New Brunswick </option>
                                                <option value="NL">Newfoundland and Labrador </option>
                                                <option value="NT">Northwest Territories </option>
                                                <option value="NS">Nova Scotia </option>
                                                <option value="NU">Nunavut </option>
                                                <option value="ON">Ontario </option>
                                                <option value="PE">Prince Edward Island </option>
                                                <option value="QC">Quebec </option>
                                                <option value="SK">Saskatchewan </option>
                                                <option value="YT">Yukon </option>
                                                <option value="00">------- Other States -------</option>

                                            </select>
                                        </td>
                                        <td class="txtalgnrgt" style="width: 47px;">
                                            <label class="input-label required">
                                                Zip :
                                            </label>
                                        </td>
                                        <td>
                                            <input name="txtWorkInfoQ1Zip" type="text" maxlength="10" id="txtWorkInfoQ1Zip" class="tooltip zip_us calWidth" placeholder="xxxxx-xxxx or xxxxx" title="Enter valid Zip eg: XXXXX-XXXX or XXXXX" style="width:127px;" autocomplete="off">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">
                                            <table class="tblApplReqForm5" style="margin-top: -7px;">
                                                <tbody>
                                                    <tr>
                                                        <td class="txtalgnrgt" style="width: 110px;">
                                                            <label class="input-label">
                                                                Business Phone :
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <input name="txtWorkInfo1BusinessPhone" type="text" id="txtWorkInfo1BusinessPhone" class="inputTextbox NewAppPersonalTxtbx phone_us" autocomplete="off" maxlength="14">
                                                        </td>
                                                        <td class="txtalgnrgt" style="width: 168px;">
                                                            <label class="input-label">
                                                                Business Website :
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <input name="txtWorkInfo1BusinessWebsite" type="text" id="txtWorkInfo1BusinessWebsite" class="inputTextbox NewAppPersonalTxtbx" autocomplete="off">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="txtalgnrgt">
                                                            <label class="input-label required">
                                                                Business Email :
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <input name="txtWorkInfoQ1BusinessEmail" type="text" id="txtWorkInfoQ1BusinessEmail" class="inputTextbox NewAppPersonalTxtbx" autocomplete="off">
                                                        </td>
                                                        <td class="txtalgnrgt">
                                                            <label class="input-label">
                                                                Approximate Start Date :
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <input name="txtWorkInfoQ1ApStartdate" type="text" id="txtWorkInfoQ1ApStartdate" class="inputTextbox NewAppPersonalTxtbx calender hasDatepicker" autocomplete="off" maxlength="10">
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <td class="txtalgnrgt">
                                                            <label class="input-label">
                                                                End Date :
                                                            </label>
                                                        </td>
                                                        <td colspan="3">
                                                            <input name="txtWorkInfoQ1Enddate" type="text" id="txtWorkInfoQ1Enddate" class="inputTextbox NewAppPersonalTxtbx calender hasDatepicker" autocomplete="off" maxlength="10">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" style="padding-top: 0px !important;">
                                                            <label class="input-label">
                                                                Check all that apply below :
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td colspan="3">
                                                            <div class="listbox" style="height: 120px;">
                                                                <table id="CheckBoxList1" class="pdgnone" style="line-height: 20px; width: 300px;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td><input id="CheckBoxList1_0" type="checkbox" name="CheckBoxList1$0" value="0"><label for="CheckBoxList1_0">Sole Proprietor</label></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><input id="CheckBoxList1_1" type="checkbox" name="CheckBoxList1$1" value="1"><label for="CheckBoxList1_1">Manager/Operator</label></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><input id="CheckBoxList1_2" type="checkbox" name="CheckBoxList1$2" value="2"><label for="CheckBoxList1_2">Independent Contractor</label></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><input id="CheckBoxList1_3" type="checkbox" name="CheckBoxList1$3" value="4"><label for="CheckBoxList1_3">Owner</label></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><input id="CheckBoxList1_4" type="checkbox" name="CheckBoxList1$4" value="1"><label for="CheckBoxList1_4">Employee</label></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><input id="CheckBoxList1_5" type="checkbox" name="CheckBoxList1$5" value="3"><label for="CheckBoxList1_5">Instructor</label></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="toolBar AfterApproved" style="padding: 4px; margin: 4px;">
                                <span class="fltrt">
                                    <input type="submit" name="btnSaveWorkInfo1" ng-click="SaveWorkInfo1()" value="Save" id="btnSaveWorkInfo1" class="buttonGreen medium">
                                    <a id="lnkCancelWorkInfo1" class="secondary medium bottom buttonalignment" ng-click="isAddWork = 0">Cancel</a>
                                </span>
                            </div>
                        </div>
                        <div class="divLicenseInfo">
                            <div>
                                <table class="index  grid" cellspacing="0" cellpadding="5" id="gvWorkInfo3" style="color:#333333;width:100%;border-collapse:collapse;">
                                    <tbody>
                                        <tr>
                                            <th scope="col">Business Name</th>
                                            <th scope="col">Business Phone</th>
                                            <th scope="col">City</th>
                                            <th scope="col">State</th>
                                            <th class="aligncenter" scope="col">Zip</th>
                                            <th class="aligncenter" scope="col">Action</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span id="lblBusinessName3">Four Seasons Hotel</span>
                                            </td>
                                            <td>
                                                <span id="lblBusinessPhone3">(702) 414-1618</span>
                                            </td>
                                            <td>
                                                <span id="lblCity3">EMERYVILLE</span>
                                            </td>
                                            <td class="aligncenter">
                                                <span id="lblState3">CA</span>
                                            </td>
                                            <td class="aligncenter">
                                                <span id="lblZip3">96151</span>
                                            </td>
                                            <td class="ActionCollumn" align="center" style="width:60px;">
                                                <span class="fltrt AfterApproved">
                                                    <input type="image" name="imgbtnWorkInfo3Edit" id="imgbtnWorkInfo3Edit" title="Edit" class="imgDelete" rowindex="0" src="../../App_Themes/Theme1/images/edit.png">
                                                    <input type="image" name="imgBtnWorkInfo3Delete" id="imgBtnWorkInfo3Delete" title="Delete" class="imgDelete" src="../../App_Themes/Theme1/images/delete.png" onclick="javascript :return confirm('Are you sure you want to delete?');">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr style="background-color:White;">
                                            <td>
                                                <span id="lblBusinessName3">Canyon Ranch Spa Club</span>
                                            </td>
                                            <td>
                                                <span id="lblBusinessPhone3">(775) 555-3752</span>
                                            </td>
                                            <td>
                                                <span id="lblCity3">TEMPLE CITY</span>
                                            </td>
                                            <td class="aligncenter">
                                                <span id="lblState3">CA</span>
                                            </td>
                                            <td class="aligncenter">
                                                <span id="lblZip3">89450</span>
                                            </td>
                                            <td class="ActionCollumn" align="center" style="width:60px;">
                                                <span class="fltrt AfterApproved">
                                                    <input type="image" name="imgbtnWorkInfo3Edit" id="imgbtnWorkInfo3Edit" title="Edit" class="imgDelete" rowindex="1" src="../../App_Themes/Theme1/images/edit.png">
                                                    <input type="image" name="imgBtnWorkInfo3Delete" id="imgBtnWorkInfo3Delete" title="Delete" class="imgDelete" src="../../App_Themes/Theme1/images/delete.png" onclick="javascript :return confirm('Are you sure you want to delete?');">
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="work-info-3">
                        <div>
                            <table style="width: 100%;" class="tblApplReqForm5">
                                <tbody>
                                    <tr>
                                        <td style="width: 20px;">
                                            <b>6.</b>
                                        </td>
                                        <td style="line-height: 20px;">
                                            <b>Please provide all of your <u>Previous Massage Work Locations</u> within the <u>past ten (10) years</u>. Please include ALL locations where you have provided Massage Therapy services and every massage business you have owned or operated in the past ten (10) years. </b>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="divbtnPrevWorkInfo3" class="divLicenseInfon divaddnew" ng-show="!(isPrevWorkAdd === 1)">
                            <span style="float: right; margin-right: 10px;" class="AfterApproved">
                                <input type="submit" name="btnWPrevorkInfo3AddNew" ng-click="isPrevWorkAdd = 1" value="Add" id="btnPrevWorkInfo3AddNew" class="buttonGreen small">
                            </span>
                        </div>
                        <div id="divpnlPrevWorkInfo1" ng-show="isPrevWorkAdd === 1">
                            <table class="tblApplReqForm5">
                                <tbody>
                                    <tr>
                                        <td colspan="6">
                                            <b>Current Place of Work :</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">
                                            <table class="tblApplReqForm5">
                                                <tbody>
                                                    <tr>
                                                        <td class="txtalgnrgt" style="width: 110px;">
                                                            <label class="input-label">
                                                                Business Name :
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <input name="txtWorkInfo1BusinessName" type="text" id="txtWorkInfo1BusinessName" class="inputTextbox NewAppPersonalTxtbx" autocomplete="off">
                                                        </td>
                                                        <td class="txtalgnrgt" style="width: 168px;">
                                                            <label class="input-label">
                                                                Primary Business Contact :
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <input name="txtWorkInfo1BusinessContact" type="text" id="txtWorkInfo1BusinessContact" class="inputTextbox NewAppPersonalTxtbx phone_us" autocomplete="off" maxlength="14">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: middle; width: 111px;" class="txtalgnrgt">
                                            <label class="input-label required">
                                                Street :
                                            </label>
                                        </td>
                                        <td colspan="5">
                                            <input name="txtWorkInfoQ1Street1" type="text" maxlength="500" id="txtWorkInfoQ1Street2" class="calWidth us_street" style="width:518px;" autocomplete="off">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="5">
                                            <input name="txtWorkInfoQ1Street2" type="text" maxlength="500" id="txtWorkInfoQ1Street2" class="calWidth us_street" style="width:518px;" autocomplete="off">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="txtalgnrgt">
                                            <label class="input-label required">
                                                City :
                                            </label>
                                        </td>
                                        <td style="width: 151px;">
                                            <input name="txtWorkInfoQ1City" type="text" maxlength="500" id="txtWorkInfoQ1City2" class="tooltip OnlyAlphabet calWidth" title="Only A-Z characters are allowed." style="width:133px;" autocomplete="off">
                                        </td>
                                        <td class="txtalgnrgt" style="width: 52px;">
                                            <label class="input-label required">
                                                State :
                                            </label>
                                        </td>
                                        <td style="width: 140px;">
                                            <select name="ddlWorkInfoQ1State" id="ddlWorkInfoQ1State2" class="inputTextbox" title="Select your state" style="width:135px;" autocomplete="off">
                                                <option value="-1">Select</option>
                                                <option value="-1">------ STATES OF USA --------</option>
                                                <option value="AK">ALASKA</option>
                                                <option value="AL">ALABAMA</option>
                                                <option value="AR">ARKANSAS</option>
                                                <option value="AZ">ARIZONA</option>
                                                <option selected="selected" value="CA">CALIFORNIA</option>
                                                <option value="CO">COLORADO</option>
                                                <option value="CT">CONNECTICUT</option>
                                                <option value="DC">DISTRICT OF COLUMBIA</option>
                                                <option value="DE">DELAWARE</option>
                                                <option value="FL">FLORIDA</option>
                                                <option value="GA">GEORGIA</option>
                                                <option value="HI">HAWAII</option>
                                                <option value="IA">IOWA</option>
                                                <option value="ID">IDAHO</option>
                                                <option value="IL">ILLINOIS</option>
                                                <option value="IN">INDIANA</option>
                                                <option value="KS">KANSAS</option>
                                                <option value="KY">KENTUCKY</option>
                                                <option value="LA">LOUISIANA</option>
                                                <option value="MA">MASSACHUSETTS</option>
                                                <option value="MD">MARYLAND</option>
                                                <option value="ME">MAINE</option>
                                                <option value="MI">MICHIGAN</option>
                                                <option value="MN">MINNESOTA</option>
                                                <option value="MO">MISSOURI</option>
                                                <option value="MS">MISSISSIPPI</option>
                                                <option value="MT">MONTANA</option>
                                                <option value="NE">NEBRASKA</option>
                                                <option value="NC">NORTH CAROLINA</option>
                                                <option value="ND">NORTH DAKOTA</option>
                                                <option value="NH">NEW HAMPSHIRE</option>
                                                <option value="NJ">NEW JERSEY</option>
                                                <option value="NM">NEW MEXICO</option>
                                                <option value="NY">NEW YORK</option>
                                                <option value="NV">NEVADA</option>
                                                <option value="OH">OHIO</option>
                                                <option value="OK">OKLAHOMA</option>
                                                <option value="OR">OREGON</option>
                                                <option value="PA">PENNSYLVANIA</option>
                                                <option value="RI">RHODE ISLAND</option>
                                                <option value="SC">SOUTH CAROLINA</option>
                                                <option value="SD">SOUTH DAKOTA</option>
                                                <option value="TN">TENNESSEE</option>
                                                <option value="TX">TEXAS</option>
                                                <option value="UT">UTAH</option>
                                                <option value="VA">VIRGINIA</option>
                                                <option value="VT">VERMONT</option>
                                                <option value="WA">WASHINGTON</option>
                                                <option value="WI">WISCONSIN</option>
                                                <option value="WV">WEST VIRGINIA</option>
                                                <option value="WY">WYOMING</option>
                                                <option value="-1">------ STATES OF CANADA -------</option>
                                                <option value="AB">Alberta</option>
                                                <option value="BC">British Columbia </option>
                                                <option value="MB">Manitoba </option>
                                                <option value="NB">New Brunswick </option>
                                                <option value="NL">Newfoundland and Labrador </option>
                                                <option value="NT">Northwest Territories </option>
                                                <option value="NS">Nova Scotia </option>
                                                <option value="NU">Nunavut </option>
                                                <option value="ON">Ontario </option>
                                                <option value="PE">Prince Edward Island </option>
                                                <option value="QC">Quebec </option>
                                                <option value="SK">Saskatchewan </option>
                                                <option value="YT">Yukon </option>
                                                <option value="00">------- Other States -------</option>

                                            </select>
                                        </td>
                                        <td class="txtalgnrgt" style="width: 47px;">
                                            <label class="input-label required">
                                                Zip :
                                            </label>
                                        </td>
                                        <td>
                                            <input name="txtWorkInfoQ1Zip" type="text" maxlength="10" id="txtWorkInfoQ1Zip2" class="tooltip zip_us calWidth" placeholder="xxxxx-xxxx or xxxxx" title="Enter valid Zip eg: XXXXX-XXXX or XXXXX" style="width:127px;" autocomplete="off">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">
                                            <table class="tblApplReqForm5" style="margin-top: -7px;">
                                                <tbody>
                                                    <tr>
                                                        <td class="txtalgnrgt" style="width: 110px;">
                                                            <label class="input-label">
                                                                Business Phone :
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <input name="txtWorkInfo1BusinessPhone" type="text" id="txtWorkInfo1BusinessPhone" class="inputTextbox NewAppPersonalTxtbx phone_us" autocomplete="off" maxlength="14">
                                                        </td>
                                                        <td class="txtalgnrgt" style="width: 168px;">
                                                            <label class="input-label">
                                                                Business Website :
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <input name="txtWorkInfo1BusinessWebsite" type="text" id="txtWorkInfo1BusinessWebsite" class="inputTextbox NewAppPersonalTxtbx" autocomplete="off">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="txtalgnrgt">
                                                            <label class="input-label required">
                                                                Business Email :
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <input name="txtWorkInfoQ1BusinessEmail" type="text" id="txtWorkInfoQ1BusinessEmail2" class="inputTextbox NewAppPersonalTxtbx" autocomplete="off">
                                                        </td>
                                                        <td class="txtalgnrgt">
                                                            <label class="input-label">
                                                                Approximate Start Date :
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <input name="txtWorkInfoQ1ApStartdate" type="text" id="txtWorkInfoQ1ApStartdate" class="inputTextbox NewAppPersonalTxtbx calender hasDatepicker" autocomplete="off" maxlength="10">
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <td class="txtalgnrgt">
                                                            <label class="input-label">
                                                                End Date :
                                                            </label>
                                                        </td>
                                                        <td colspan="3">
                                                            <input name="txtWorkInfoQ1Enddate" type="text" id="txtWorkInfoQ1Enddate" class="inputTextbox NewAppPersonalTxtbx calender hasDatepicker" autocomplete="off" maxlength="10">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" style="padding-top: 0px !important;">
                                                            <label class="input-label">
                                                                Check all that apply below :
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td colspan="3">
                                                            <div class="listbox" style="height: 120px;">
                                                                <table id="CheckBoxList1" class="pdgnone" style="line-height: 20px; width: 300px;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td><input id="CheckBoxList1_0" type="checkbox" name="CheckBoxList1$0" value="0"><label for="CheckBoxList1_0">Sole Proprietor</label></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><input id="CheckBoxList1_1" type="checkbox" name="CheckBoxList1$1" value="1"><label for="CheckBoxList1_1">Manager/Operator</label></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><input id="CheckBoxList1_2" type="checkbox" name="CheckBoxList1$2" value="2"><label for="CheckBoxList1_2">Independent Contractor</label></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><input id="CheckBoxList1_3" type="checkbox" name="CheckBoxList1$3" value="4"><label for="CheckBoxList1_3">Owner</label></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><input id="CheckBoxList1_4" type="checkbox" name="CheckBoxList1$4" value="1"><label for="CheckBoxList1_4">Employee</label></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><input id="CheckBoxList1_5" type="checkbox" name="CheckBoxList1$5" value="3"><label for="CheckBoxList1_5">Instructor</label></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="toolBar AfterApproved" style="padding: 4px; margin: 4px;">
                                <span class="fltrt">
                                    <input type="submit" ng-click="SaveWorkInfo2()" name="btnSaveWorkInfo2" value="Save" id="btnSaveWorkInfo2" class="buttonGreen medium">
                                    <a id="lnkCancelWorkInfo1" class="secondary medium bottom buttonalignment" ng-click="isPrevWorkAdd = 0">Cancel</a>
                                </span>
                            </div>
                        </div>
                        <div class="divLicenseInfo">
                            <div>
                                <table class="index  grid" cellspacing="0" cellpadding="5" id="gvWorkInfo3" style="color:#333333;width:100%;border-collapse:collapse;">
                                    <tbody>
                                        <tr>
                                            <th scope="col">Business Name</th>
                                            <th scope="col">Business Phone</th>
                                            <th scope="col">City</th>
                                            <th scope="col">State</th>
                                            <th class="aligncenter" scope="col">Zip</th>
                                            <th class="aligncenter" scope="col">Action</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span id="lblBusinessName3">Four Seasons Hotel</span>
                                            </td>
                                            <td>
                                                <span id="lblBusinessPhone3">(702) 414-1618</span>
                                            </td>
                                            <td>
                                                <span id="lblCity3">EMERYVILLE</span>
                                            </td>
                                            <td class="aligncenter">
                                                <span id="lblState3">CA</span>
                                            </td>
                                            <td class="aligncenter">
                                                <span id="lblZip3">96151</span>
                                            </td>
                                            <td class="ActionCollumn" align="center" style="width:60px;">
                                                <span class="fltrt AfterApproved">
                                                    <input type="image" name="gvWorkInfo3$ctl02$imgbtnWorkInfo3Edit" id="imgbtnWorkInfo3Edit" title="Edit" class="imgDelete" rowindex="0" src="../../App_Themes/Theme1/images/edit.png">
                                                    <input type="image" name="gvWorkInfo3$ctl02$imgBtnWorkInfo3Delete" id="imgBtnWorkInfo3Delete" title="Delete" class="imgDelete" src="../../App_Themes/Theme1/images/delete.png" onclick="javascript :return confirm('Are you sure you want to delete?');">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr style="background-color:White;">
                                            <td>
                                                <span id="lblBusinessName3">Canyon Ranch Spa Club</span>
                                            </td>
                                            <td>
                                                <span id="lblBusinessPhone3">(775) 555-3752</span>
                                            </td>
                                            <td>
                                                <span id="lblCity3">TEMPLE CITY</span>
                                            </td>
                                            <td class="aligncenter">
                                                <span id="lblState3">CA</span>
                                            </td>
                                            <td class="aligncenter">
                                                <span id="lblZip3">89450</span>
                                            </td>
                                            <td class="ActionCollumn" align="center" style="width:60px;">
                                                <span class="fltrt AfterApproved">
                                                    <input type="image" name="gvWorkInfo3$ctl03$imgbtnWorkInfo3Edit" id="imgbtnWorkInfo3Edit" title="Edit" class="imgDelete" rowindex="1" src="../../App_Themes/Theme1/images/edit.png">
                                                    <input type="image" name="gvWorkInfo3$ctl03$imgBtnWorkInfo3Delete" id="imgBtnWorkInfo3Delete" title="Delete" class="imgDelete" src="../../App_Themes/Theme1/images/delete.png" onclick="javascript :return confirm('Are you sure you want to delete?');">
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </fieldset>
                <div class="toolBar AfterApproved" style="padding: 4px; margin: 4px;">
                    <span class="fltrt">
                        <input type="submit" ng-click="EducationInfo()" name="btnEducation" value="Save &amp; Next" id="btnEducation" class="buttonGreen medium">
                        <a id="lnkExamInfoCancel" class="secondary medium bottom buttonalignment" href="javascript:__doPostBack('lnkExamInfoCancel','')">Cancel</a>
                    </span>
                </div>
            </div>

        </div>

    </div>

</div>
