<div id="pnlLeft" class="mainleftpanel">
    <div class="get-started-content leftpanel left_sidebar">
        <div id="sidebar">
            <div id="sidebar_content" class="lessgap">
                <div class="menu-w-licensure-container">
                    <div id="nav_menu-32" class="widget widget_nav_menu">
                        <ul id="menu-w-licensure" class="menu Act ulwidth">
                            <li id="liApplicatinInstructions" class="actived" data-section="_PanelInstructionPartial">
                                <input type="submit" name="lnkInstruction" value="Instructions" id="lnkInstruction" class="btnlimenu">
                                <span class="spnStatusImage statusimgalgn">
                                    <input type="image" name="imgbtnInstruction" id="imgbtnInstruction" title="Completed" src="~/Content/Public/images/button_cross.png" style="height:20px;width:20px;">
                                </span>
                            </li>
                            <li id="liMassageTherapistApplication" data-section="_PanelSection1Partial">
                                <input type="submit" name="btnMassageTherapistApplication" value="Applicant" id="btnMassageTherapistApplication" class="btnlimenu">
                                <span class="spnStatusImage statusimgalgn">
                                    <input type="image" name="imgMassageTherapistApplication" id="imgMassageTherapistApplication" title="Completed" src="~/Content/Public/images/button_cross.png" style="height:20px;width:20px;">
                                </span>
                                
                            </li>
                            <li id="liSection2" data-section="_PanelSection2Partial">
                                <input type="submit" name="btnSection2" value="Identification" id="btnSection2" class="btnlimenu">
                                <span class="spnStatusImage statusimgalgn">
                                    <input type="image" name="imgSection2" id="imgSection2" title="Completed" src="~/Content/Public/images/button_cross.png" style="height:20px;width:20px;">
                                </span>
                            </li>
                            <li id="liSection3" data-section="_PanelSection3Partial">
                                <input type="submit" name="btnSection3" value="Licensure Information" id="btnSection3" class="btnlimenu">
                                <span class="spnStatusImage statusimgalgn">
                                    <input type="image" name="imgSection3" id="imgSection3" title="Completed" src="~/Content/Public/images/button_cross.png" style="height:20px;width:20px;">
                                </span>
                            </li>
                            <li id="liSection4" data-section="_PanelSection4Partial">
                                <input type="submit" name="btnSection4" value="Education" id="btnSection4" class="btnlimenu">
                                <span class="spnStatusImage statusimgalgn">
                                    <input type="image" name="imgSection4" id="imgSection4" title="Completed" src="~/Content/Public/images/button_cross.png" style="height:20px;width:20px;">
                                </span>
                            </li>
                            <li id="liSection5" class="" data-section="_PanelSection5Partial">
                                <input type="submit" name="btnSection5" value="Work Information" id="btnSection5" class="btnlimenu">
                                <span class="spnStatusImage statusimgalgn">
                                    <input type="image" name="imgSection5" id="imgSection5" title="Completed" src="~/Content/Public/images/button_cross.png" style="height:20px;width:20px;">
                                </span>
                            </li>
                            <li id="liSection6" data-section="_PanelSection6Partial">
                                <input type="submit" name="btnSection6" value="History" id="btnSection6" class="btnlimenu">
                                <span class="spnStatusImage statusimgalgn">
                                    <input type="image" name="imgSection6" id="imgSection6" title="Completed" src="~/Content/Public/images/button_cross.png" style="height:20px;width:20px;">
                                </span>
                            </li>
                            <li id="liSection7" data-section="_PanelSection7Partial">
                                <input type="submit" name="btnSection7" value="Affidavit" id="btnSection7" class="btnlimenu">
                                <span class="spnStatusImage statusimgalgn">
                                    <input type="image" name="imgSection7" id="imgSection7" title="Completed" src="~/Content/Public/images/button_cross.png" style="height:20px;width:20px;">
                                </span>
                            </li>
                            <li id="liPayment" data-section="_PanelPaymentPartial">
                                <input type="submit" name="btnPayment" value="Payment" id="btnPayment" class="btnlimenu">
                                <span class="spnStatusImage statusimgalgn">
                                    <input type="image" name="imgbtnPayment" id="imgbtnPayment" title="Completed" src="~/Content/Public/images/button_cross.png" style="height:20px;width:20px;">
                                </span>
                            </li>
                            <li id="liChecklist" data-section="_PanelChecklistPartial">
                                <input type="submit" name="btnChecklist" value="Checklist" id="btnChecklist" class="btnlimenu">
                                <span class="spnStatusImage statusimgalgn">
                                    <input type="image" name="imgbtnChecklist" id="imgbtnChecklist" title="Completed" src="~/Content/Public/images/button_cross.png" style="height:20px;width:20px;">
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
