



    <div id="error_validation" class="address-box posFixed" style="display: none; color: red;"></div>




























    <div id="ContentPlaceHolder1_ucCertificationApplication1_PnlEnrollAgrChecklist">

        <div id="ContentPlaceHolder1_ucCertificationApplication1_UpdatePanel5">

            <div id="ContentPlaceHolder1_ucCertificationApplication1_Panel6">



                <div>
                    <div class="sectionDiv">
                        <span>Enrollment Agreement</span>
                    </div>
                </div>
                <fieldset class="flsNewApplReqForm flsCharacterReferences" style="text-align: left;">

                    <table>

                        <tbody>
                            <tr>
                                <td>
                                    <b>25. Blank Enrollment Agreement.</b>
                                    <p style="padding-left: 22px;">
                                        A blank enrollment agreement must be provided. Per CAMTC’s Policies and Procedures for Approval of Schools,
                                        enrollment agreements should include at minimum :
                                    </p>



                                    <ul class="lipadding" style="margin-left: 35px;">
                                        <li>
                                            <p>
                                                School name, address, additional addresses where classes will be held, telephone number, and
                                                website.
                                            </p>
                                        </li>
                                        <li>
                                            <p>Student’s full legal name, date of birth, address, email, telephone number, and signature.</p>
                                        </li>
                                        <li>
                                            <p>Copy of a current valid government issued photographic identification.</p>
                                        </li>
                                        <li>
                                            <p>
                                                Title of massage program and total scheduled number of supervised hours received upon
                                                completion.
                                            </p>
                                        </li>
                                        <li>
                                            <p>Program schedule with start date and scheduled completion date.</p>
                                        </li>
                                        <li>
                                            <p>
                                                All scheduled charges and fees including, as applicable: tuition, registration fee, equipment, lab
                                                supplies, textbooks, educational materials, uniforms, charges paid to an entity other than the
                                                school as required by the program, and any other charge or fee.
                                            </p>
                                        </li>
                                        <li>
                                            <p>Scheduled payment terms.</p>
                                        </li>
                                        <li>
                                            <p>
                                                Clearly visible disclosure statement: “Attendance and/or graduation from a California Massage
                                                Therapy Council approved school does not guarantee certification by CAMTC. Applicants for
                                                certification shall meet all requirements as listed in California Business and Professions Code
                                                sections 4600 et. seq.”
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                Statement directing students to CAMTC for unanswered questions and for filing a complaint: “A
                                                student or any member of the public with questions that have not been satisfactorily answered by
                                                the school or who would like to file a complaint about this school may contact the California
                                                Massage Therapy Council at: One Capitol Mall, Suite 800, Sacramento, CA 95814,
                                                <a href="http://www.camtc.org" target="_blank" onclick="javascript:EnableTb('.txtQestion27');" class="hyperlink">www.camtc.org</a>, phone (916) 669-5336, or fax (916) 669-5337.”
                                            </p>
                                        </li>
                                    </ul>

                                    <br>

                                    <p style="padding-left: 22px;">Note: Enrollment agreements from public colleges or universities of the California state higher education system, as defined in section 100850 of the Education Code, and public schools accredited by an agency recognized by the United States Department of Education shall meet or exceed standards as determined by governing laws and regulations.</p>
                                    <div class="dvuploadgrid" style="margin-left: 22px; margin-top:20px;">

                                        <div class="dvuploadclass">
                                            <div id="ContentPlaceHolder1_ucCertificationApplication1_fuEnrollAgree1_upDoc">



                                                <input type="hidden" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$fuEnrollAgree1$hfStatus" id="ContentPlaceHolder1_ucCertificationApplication1_fuEnrollAgree1_hfStatus" value="0">



                                                <div id="ContentPlaceHolder1_ucCertificationApplication1_fuEnrollAgree1_upSimple">

                                                    <table class="withoutbrder">
                                                        <tbody>
                                                            <tr>
                                                                <td style="min-width: 205px; text-align: right;">
                                                                    <span id="ContentPlaceHolder1_ucCertificationApplication1_fuEnrollAgree1_lblSimpleDocText" class="input-label required">Property Tax Bill</span>
                                                                </td>
                                                                <td>
                                                                    <input type="file" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$fuEnrollAgree1$fuSimpleDocUpload" id="ContentPlaceHolder1_ucCertificationApplication1_fuEnrollAgree1_fuSimpleDocUpload">
                                                                </td>
                                                                <td>
                                                                    <input type="submit" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$fuEnrollAgree1$btnSimpleDocUpload" value="Upload Document" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ContentPlaceHolder1$ucCertificationApplication1$fuEnrollAgree1$btnSimpleDocUpload&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="ContentPlaceHolder1_ucCertificationApplication1_fuEnrollAgree1_btnSimpleDocUpload" class="buttonGreen small" style="margin-left: 10px;">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3">
                                                                    <div style="text-align: center">

                                                                        <span id="ContentPlaceHolder1_ucCertificationApplication1_fuEnrollAgree1_lblSimpleError" style="color: red; align-content: center; display:none;">Please fill *required fileds.</span>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>


                                            </div>



                                        </div>
                                    </div><br/>
                                </td>

                            </tr>
                            <tr>

                                <td>
                                    <b>26. Massage program addendum, if any.</b>
                                    <div class="dvuploadgrid" style="margin-left: 22px; margin-top:20px;">

                                        <div class="dvuploadclass">
                                            <div id="ContentPlaceHolder1_ucCertificationApplication1_fuEnrollAgree2_upDoc">



                                                <input type="hidden" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$fuEnrollAgree2$hfStatus" id="ContentPlaceHolder1_ucCertificationApplication1_fuEnrollAgree2_hfStatus" value="0">



                                                <div id="ContentPlaceHolder1_ucCertificationApplication1_fuEnrollAgree2_upSimple">

                                                    <table class="withoutbrder">
                                                        <tbody>
                                                            <tr>
                                                                <td style="min-width: 205px; text-align: right;">
                                                                    <span id="ContentPlaceHolder1_ucCertificationApplication1_fuEnrollAgree2_lblSimpleDocText" class="input-label required">Property Tax Bill</span>
                                                                </td>
                                                                <td>
                                                                    <input type="file" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$fuEnrollAgree2$fuSimpleDocUpload" id="ContentPlaceHolder1_ucCertificationApplication1_fuEnrollAgree2_fuSimpleDocUpload">
                                                                </td>
                                                                <td>
                                                                    <input type="submit" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$fuEnrollAgree2$btnSimpleDocUpload" value="Upload Document" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ContentPlaceHolder1$ucCertificationApplication1$fuEnrollAgree2$btnSimpleDocUpload&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="ContentPlaceHolder1_ucCertificationApplication1_fuEnrollAgree2_btnSimpleDocUpload" class="buttonGreen small" style="margin-left: 10px;">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3">
                                                                    <div style="text-align: center">

                                                                        <span id="ContentPlaceHolder1_ucCertificationApplication1_fuEnrollAgree2_lblSimpleError" style="color: red; align-content: center; display:none;">Please fill *required fileds.</span>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>


                                            </div>



                                        </div>
                                    </div>


                                </td>
                            </tr>





                        </tbody>
                    </table>

                </fieldset>

                <div class="toolBar AfterApproved" style="padding: 4px; margin: 4px;">
                    <div style="float: left;">
                    </div>
                    <span class="fltrt">
                        <input type="submit" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$btnNextEnrollChkList" value="Save &amp; Next" id="ContentPlaceHolder1_ucCertificationApplication1_btnNextEnrollChkList" class="buttonGreen medium">

                        <a id="ContentPlaceHolder1_ucCertificationApplication1_LinkButton5" class="secondary medium bottom buttonalignment" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$ucCertificationApplication1$LinkButton5", "", true, "", "", false, true))'>Cancel</a>
                    </span>
                </div>

            </div>

        </div>

    </div>






















