<div class="mainleftpanel" id="pnlLeft">
    <div style="padding-top: 0px;" class="get-started-content leftpanel left_sidebar">
        <div id="sidebar">
            <div class="lessgap" id="sidebar_content">
                <div class="menu-w-licensure-container">
                    <div class="widget widget_nav_menu" id="nav_menu-32">
                        <ul class="menu Act ulwidth" id="menu-w-licensure">

                            <li id="liApplicatinInstructions" class="actived  initial" data-section="_SchoolApp_Instructions">
                                <input type="submit" class="btnlimenu" id="ContentPlaceHolder1_ucCertificationApplication1_lnkInstruction" value="Instructions" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$lnkInstruction">
                                <span class="spnStatusImage statusimgalgn">
                                    <input type="image" style="height:20px;width:20px;" src="/Content/Theme1/images/check_icon.png" title="Completed" id="ContentPlaceHolder1_ucCertificationApplication1_imgbtnInstruction" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$imgbtnInstruction">
                                </span>
                            </li>

                            <li class="" id="liMassageTherapistApplication" data-section="_SchoolApp_Instructions">
                                <input type="submit" class="btnlimenu" id="ContentPlaceHolder1_ucCertificationApplication1_btnMassageTherapistApplication" value="School Information" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$btnMassageTherapistApplication">
                                <span class="spnStatusImage statusimgalgn">
                                    <input type="image" style="height:20px;width:20px;" src="/Content/Theme1/images/button_cross.png" title="Completed" id="ContentPlaceHolder1_ucCertificationApplication1_imgMassageTherapistApplication" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$imgMassageTherapistApplication">
                                </span>
                            </li>

                            <li class="" id="liSection2" data-section="_SchoolApp_Instructions">
                                <input type="submit" class="btnlimenu" id="ContentPlaceHolder1_ucCertificationApplication1_btnSection2" value="School Eligibility" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$btnSection2">
                                <span class="spnStatusImage statusimgalgn">
                                    <input type="image" style="height:20px;width:20px;" src="/Content/Theme1/images/button_cross.png" title="Completed" id="ContentPlaceHolder1_ucCertificationApplication1_imgSection2" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$imgSection2">
                                </span>
                            </li>
                            <li class="" id="liSection3" data-section="_SchoolApp_AboutTheSchool">
                                <input type="submit" class="btnlimenu" id="ContentPlaceHolder1_ucCertificationApplication1_btnSection3" value="About the School" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$btnSection3">
                                <span class="spnStatusImage statusimgalgn">
                                    <input type="image" style="height:20px;width:20px;" src="/Content/Theme1/images/button_cross.png" title="Completed" id="ContentPlaceHolder1_ucCertificationApplication1_imgSection3" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$imgSection3">
                                </span>
                            </li>

                            <li class="" id="li_Transcript_Checklist" data-section="_SchoolApp_Transcript">
                                <input type="submit" class="btnlimenu" id="ContentPlaceHolder1_ucCertificationApplication1_btnTransCheck" value="Transcript" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$btnTransCheck">
                                <span class="spnStatusImage statusimgalgn">
                                    <input type="image" style="height:20px;width:20px;" src="/Content/Theme1/images/button_cross.png" title="Completed" id="ContentPlaceHolder1_ucCertificationApplication1_imgTransCheck" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$imgTransCheck">
                                </span>
                            </li>

                            <li class="" id="li_Enrollment_Agreement_Checklist" data-section="_SchoolApp_EnrollmentAgreement" >
                                <input type="submit" class="btnlimenu" id="ContentPlaceHolder1_ucCertificationApplication1_btnEnrollAgreeCheck" value="Enrollment Agreement" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$btnEnrollAgreeCheck">
                                <span class="spnStatusImage statusimgalgn">
                                    <input type="image" style="height:20px;width:20px;" src="/Content/Theme1/images/button_cross.png" title="Completed" id="ContentPlaceHolder1_ucCertificationApplication1_imgEnrollAgreeCheck" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$imgEnrollAgreeCheck">
                                </span>
                            </li>


                            <li class="" id="li_Course_Catalog_Checklist" data-section="_SchoolApp_CourseCatalog">
                                <input type="submit" class="btnlimenu" id="ContentPlaceHolder1_ucCertificationApplication1_btnCourCataCheck" value="Course Catalog" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$btnCourCataCheck">
                                <span class="spnStatusImage statusimgalgn">
                                    <input type="image" style="height:20px;width:20px;" src="/Content/Theme1/images/check_icon.png" title="Completed" id="ContentPlaceHolder1_ucCertificationApplication1_imgCourCataCheck" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$imgCourCataCheck">
                                </span>
                            </li>


                            <li class="" id="li_Program_Hour_Requirement_Worksheet" data-section="_SchoolApp_Curriculum">
                                <input type="submit" class="btnlimenu" id="ContentPlaceHolder1_ucCertificationApplication1_btnProgHourReqWork" value="Curriculum" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$btnProgHourReqWork">
                                <span class="spnStatusImage statusimgalgn">
                                    <input type="image" style="height:20px;width:20px;" src="/Content/Theme1/images/button_cross.png" title="Completed" id="ContentPlaceHolder1_ucCertificationApplication1_imgProgHourReqWork" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$imgProgHourReqWork">
                                </span>
                            </li>



                            <li style="display: none;" class="" id="liChecklist" data-section="_SchoolApp_Checklist">
                                <input type="submit" class="btnlimenu" id="ContentPlaceHolder1_ucCertificationApplication1_btnChecklist" value="Checklist" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$btnChecklist">
                                <span class="spnStatusImage statusimgalgn">
                                    <input type="image" style="height:20px;width:20px;" src="/Content/Theme1/images/button_cross.png" title="Completed" id="ContentPlaceHolder1_ucCertificationApplication1_imgbtnChecklist" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$imgbtnChecklist">
                                </span>
                            </li>

                            <li class="" id="liSchoolContactStaff"  data-section="_SchoolApp_Staff">
                                <input type="submit" class="btnlimenu" id="ContentPlaceHolder1_ucCertificationApplication1_btnSchoolContactStaff" value="Staff" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$btnSchoolContactStaff">
                                <span class="spnStatusImage statusimgalgn">
                                    <input type="image" style="height:20px;width:20px;" src="/Content/Theme1/images/button_cross.png" title="Completed" id="ContentPlaceHolder1_ucCertificationApplication1_ibtnSchoolContactStaff" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$ibtnSchoolContactStaff">
                                </span>
                            </li>



                            <li style="display: none;" class="" id="liCorrectiveAction">
                                <input type="submit" class="btnlimenu" id="ContentPlaceHolder1_ucCertificationApplication1_btnCorrectiveAction" value="Corrective Action" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$btnCorrectiveAction">
                                <span class="spnStatusImage statusimgalgn">
                                    <input type="image" style="height:20px;width:20px;" src="/Content/Theme1/images/button_cross.png" title="Completed" id="ContentPlaceHolder1_ucCertificationApplication1_ImageButton52" name="ctl00$ContentPlaceHolder1$ucCertificationApplication1$ImageButton52">
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>